.title {
    margin: 0;
    padding: 0px 4px;
    color: #1652BA;
    font-weight: 800;
    letter-spacing: 0px !important;
}

.sec-title {
    margin: 0;
    padding: 0px 4px;
    color: grey;
    font-weight: 400;
    font-size: 16px;
}

.icon {
    width: 10px;
    height: 25px;
}

.row-cont {
    display: flex;
    padding: 48px 16px 10px;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.img-cont {
    padding: 3px 4px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adapt-top {
    padding-top: 40px;
}

.unadapt {
    padding-top: 30;
}

.icon {
    width: 10px;
    height: 25px;
    padding-bottom: 6px;
}

.hide-elem {
    display: none;
}

.sub-cont {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.img-cont {
    padding: 3px 4px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.container {
    padding: 10px 16px;
}

.elem-cont {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
}

.el-img {
    padding-right: 10px;
}

.name {
    font-size: 18px;
    margin: 0px;
    padding-bottom: 5px;
}

.desc {
    font-size: 10px;
    margin: 0px;
    padding-bottom: 5px;
}