<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Transaction Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-icon src="../../assets/send.svg" slot="start" size="large"></ion-icon>
    <ion-label id="text" [routerLink]="['/tabs/main/transactionDetail']">
     Send
    </ion-label>
  </ion-item>

  <ion-list>
    <ion-item class="amount">
      <ion-label id="text1">
        Amount
        <div id="text2">{{mosaic}}</div>
      </ion-label>
    </ion-item>

    <ion-item class="amount">
      <ion-label id="text1">
        Name of mosaic
        <div id="text2">{{coinName}}</div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label id="text1">
        To
        <div id="text2">{{recepient}}</div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label id="text1">
        From 
        <div id="text2">{{signer}}</div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label id="text1">
        Time
        <div id="text2">{{dateTime}}</div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label id="text1" class="ion-text-wrap">
        Message
        <div id="text2">{{message}}</div>
      </ion-label>
      
    </ion-item>
  </ion-list>


  <div id="button">
    <ion-button [routerLink]="['/tabs/main/history']" color="favorite">Back</ion-button>
  </div>

</ion-content>

