<!-- <ion-header>
  <h1 class="title">Recovery ID</h1>
</ion-header> -->

<app-superheader [title]="'Recovery ID'" [back]="false"></app-superheader>

<ion-content>
  <div class="circle-container">
    <p class="number-progress">
      {{ (progress * 100 > 100) ? '100' : (progress * 100).toFixed() }}
    </p>

    <div *ngIf="btnNext" class="circle">
    </div>

    <div *ngIf="!btnNext" class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="inferior-panel">
    <div class="txt-center">
      <p>Your SiriusID being recovered.</p>
    </div>

    <div *ngIf="!btnNext" class="p-10">
      <ion-progress-bar color="primary" [value]="progress"></ion-progress-bar>
    </div>

    <div *ngIf="btnNext" class="btn-cont">
      <button class="btn" [routerLink]="['/recovery2']" shape="round" mode="md">Next</button>
    </div>
  </div>
</ion-content>
