<div class="option-list" *ngIf="mainActive === true">
  <div class="option-cont" (click)="showFolderList()">
    Move to
  </div>

  <div class="option-cont" (click)="showTagsList()">
    Add tag
  </div>
</div>

<div class="option-list" *ngIf="showFolders === true">
  <div class="option-cont" *ngFor="let item of folders;let i=index" (click)="addContentToFolder(item.name)">
    <div>
      {{ item.name }}
    </div>
  </div>
</div>

<div class="option-list" *ngIf="showTags === true">
  <ion-chip *ngFor="let item of tagsServices.tags;let i=index" (click)="assignTag(item.name)">
    {{ item.name }}
  </ion-chip>

  <!-- <div class="option-cont" *ngFor="let item of tagsServices.tags;let i=index">
  </div> -->

  <div class="option-cont" (click)="showAddTag()">
    <div>
      Add new tag
    </div>
  </div>
</div>

<div class="option-list" *ngIf="addTagActive === true">
  <div class="option-cont">
    <label>New Tag</label>
    <input type="text" [(ngModel)]="tagName" class="input-folder" autofocus maxlength="20">
    <!-- <ion-input mode="ios" primary placeholder="Folder name" [ngModel]="folderName">
    </ion-input> -->
    <div class="btn-cont">
      <button class="btn" (click)="addNewTag()">Create</button>
    </div>
  </div>
</div>