<div class="logo-cont">
  <img src="../../assets/newicons/proximax-siriusid-logo.svg" class="logo">
</div>

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Result
    </ion-title>
  </ion-toolbar>
</ion-header>   -->

<ion-content>
  <div class="img-cont">
    <img src="../../assets/newicons/proximax-siriusid-circle-percentage-success-green.svg" class="image">
  </div>

  <div class="container">
    <h1 class="big-text">Your transaction was successful.</h1>
    <p class="small-text">Thank you for using SiriusID.</p>
  </div>

  <div class="btn-cont">
    <button class="btn" (click)="home()">Done</button>
  </div>
</ion-content>

<!-- <ion-content >
  <div id="image">
    <img src='assets/done.png'/>
  </div>

  <div id="text">
    Your transaction was successful. <br>
    Thank you for using SiriusID.
  </div>


  <div id="button">
    <ion-button (click)="home()" color="transparent" >Finish</ion-button>
  </div>
</ion-content> -->
