<!-- <ion-header>
  <div class="row-cont">
    <div class="img-cont" [routerLink]="['/tabs/user']">
      <img src="../../assets/newicons/proximax-siriusid-btn-go-back-blue-h60.svg" class="icon">
    </div>
    <h1 class="title">Profile</h1>
    <h1 class="sec-title">/ My SiriusID</h1>
  </div>
</ion-header> -->

<app-superheader [title]="'Profile'" [subtitle]="'My SiriusID'" [back]="true"></app-superheader>

<ion-content>
  <div class="card-cont">
    <p class="name">{{ name }}</p>
    <qrcode [qrdata]="address" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
  </div>

  <div class="add-cont">
    <p class="text-blue">SiriusID: </p>
    <p class="text">{{ address }}</p>
  </div>

  <div class="add-cont">
    <p class="text-blue">Network Type: {{ networkType }}</p>
  </div>

  <div class="add-cont">
    <button class="btn" (click)="copyText()">
      Copy SiriusID
    </button>

    <!-- <div *ngIf="!copy" style="text-align: center;color:#1652BA;cursor: pointer;margin-top: 15px;" (click)="copyText()">
      <ion-icon name="copy" mode="ios"></ion-icon> Copy Address
    </div> -->

    <div *ngIf="copy" style="text-align: center;color:#1652BA;cursor: pointer;" (click)="copyText()">
      <ion-icon name="checkmark" mode="ios" style="font-size: 30px;position: relative;top:9px;right:-2px"></ion-icon>
      SiriusID Copied
    </div>
  </div>

</ion-content>


<!-- <ion-content> -->
  <!-- <ion-card>

    <div id="text">
      <h3>{{name}}</h3>
    </div>

    <div id="card">
        <ngx-qrcode
          [qrc-element-type]="elementType"
          [qrc-value] = "address"
          qrc-errorCorrectionLevel = "H"
          qrc-version = "10"></ngx-qrcode>
    </div>

  </ion-card> -->

  <!-- <ion-card id="address-plain" >
    <p>Address:</p> {{address}}
    <div *ngIf="!copy" style="text-align: center;color:#24AFA5;cursor: pointer;margin-top: 15px;" (click)="copyText()">
        <ion-icon name="copy" mode="ios"></ion-icon> Copy Address
    </div>
    <div *ngIf="copy" style="text-align: center;color:#24AFA5;cursor: pointer;" (click)="copyText()">
      <ion-icon name="checkmark" mode="ios" style="font-size: 30px;position: relative;top:9px;right:-2px"></ion-icon> Your Address Copied
    </div>
  </ion-card>

  <div id="button" >
    <ion-button [routerLink]="['/tabs/user']" color="favorite"  >Back</ion-button>
  </div> -->

<!-- </ion-content> -->
