<!-- <ion-header>
  <h1 class="title">New Credential</h1>
</ion-header> -->

<app-superheader [title]="'New Credential'" [back]="false"></app-superheader>

<ion-content>
  <div class="container">
    <div class="img-cont">
      <img *ngIf="credential.icon !== ''" [src]="credential.icon">
      <img *ngIf="credential.icon === ''" src="../../assets/teamwork.svg">
    </div>
    <div class="card">{{ credential.name }}</div>
  </div>

  <div class="list-cont">
    <div class="list" *ngFor="let field of credential.content">
      <div class="key">
        {{ field[0] }}
      </div>
      <div class="value">
        {{ (field[1] !== '') ? field[1] : 'Unknown' }}
      </div>
    </div>
  </div>

  <!-- <ion-list lines="full" inset="false" >
    <div *ngFor="let field of credential.content">
      <ion-item mode="ios">
        <div class="label">
          <p>{{field[0]}}</p>
        </div>
        <div class="value">{{field[1]}}</div>
      </ion-item>
    </div>
  </ion-list> -->

  <div class="btn-cont">
    <button class="btn-o" (click)="cancelBtn()">Cancel</button>
    <button class="btn" (click)="saveBtn()">Save</button>
  </div>

  <div *ngIf="loading" class="shadowLoader">
    <div class="boxLoader">
      <div class="loader"></div>
    </div>
  </div>
</ion-content>

<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <div id="text">{{credential.name}}</div>
  </ion-list-header>
  <ion-list lines="full" inset="false" >
    <div *ngFor="let field of credential.content">
      <ion-item mode="ios">
        <div class="label">
          <p>{{field[0]}}</p>
        </div>
        <div class="value">{{field[1]}}</div>
      </ion-item>
    </div>

    <div id="button2">
      <ion-button mode="md" (click)="cancelBtn()">Cancel</ion-button>
    </div>

    <div id="button1">
      <ion-button mode="md" (click)="saveBtn()">Save</ion-button>
    </div>
  </ion-list>
</ion-content> -->
