.title {
    margin: 0;
    padding: 30px 16px 10px 16px;
    color: #1652BA;
    font-weight: 800;
    width: 100%;
    letter-spacing: 0px !important;
}

.container {
    padding: 10px 16px;
}

.card {
    text-align: center;
    font-size: 19px;
    border-radius: 20px;
    padding: 16px;
}

.btn-cont {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 16px;
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.img-cont {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    img{
        width: 60px;
        height: 60px;
    }
}

.btn {
    background: #1652BA;
    color: white;
    border-radius: 20px;
    width: 160px;
    font-size: 17px;
    padding: 12px;
    margin: 0px 2px;
    outline: none
}

.btn-o {
    background: white;
    color: #f1730f;
    border-radius: 20px;
    box-shadow: inset 0px 0px 0px 2px #f1730f;
    width: 160px;
    font-size: 17px;
    padding: 12px;
    margin: 0px 2px;
    outline: none
}

.list-cont {
    padding-bottom: 40px;
}

.list {
    padding: 10px 16px;
    &:nth-child(even) {
        background: #f4f4f4;
    }
}

.key {
    font-size: 12px;
    color: grey;
}

.value {
    font-size: 19px;
}

.white {
    background: white;
}

.grey {
    background: grey;
}
// :host {
//     background: url('../../assets/bg.png') no-repeat 0 0;
//     background-size: cover;
//     ion-header {
//     backdrop-filter: none;
//     ion-toolbar {
//         --color: #fff;
//         --border-width: 0;
//         --background: none;
//         --min-height: 7vh;
//     }
//     }
//     ion-content {
//     --color: #fff;
//     --background: #F2F2F2;
//     }
// }
// ion-back-button{
//     --color: #ffffff;
//     position: absolute;
// }

// ion-title{
//     color: #ffffff;
//     text-align: center;
// }

// #text{
//     font-family: Arial;
//     font-weight: normal;
//     font-size: 20px;
//     line-height: 24px;
//     text-transform: none;
//     text-align: center;
//     color: black;
//     width: 100%;
//     margin: 15px 0;
// }
// ion-list-header{
//     padding: 0;
// }
// ion-list{
//     box-shadow: 5px 5px 5px #EBEBEB, 5px -5px 5px #EBEBEB;
//     .label{
//         color: #717171;
//         position: absolute;
//         top: -10px;
//         font-size: 14px;
//     }
//     .value{
//         margin-top: 30px;
//         margin-bottom: 5px;
//     }
// }

// #button1{
//     display: inline-block;
//     float: right;
//     margin-right: 35px;
//     ion-button {
//         margin: 35px 0;
//         color:white;
//         font-family: Arial;
//         font-style: normal;
//         font-size: 16px;
//         --border-radius: 100px;
//         --border-width: 1px;
//         --padding-start: 10vw;
//         --padding-end: 10vw;
//         --padding-top: 1vh;
//         --padding-bottom: 1vh;
//         --background: #27C1B6;
//         text-transform: none;
//     }
// }

// #button2{
//     display: inline-block;
//     margin-left: 35px;
//     ion-button {
//         margin: 35px 0;
//         color:white;
//         font-family: Arial;
//         font-style: normal;
//         font-size: 16px;
//         --background: #A6A5A5;
//         --border-radius: 100px;
//         --border-width: 1px;
//         --padding-start: 10vw;
//         --padding-end: 10vw;
//         --padding-top: 1vh;
//         --padding-bottom: 1vh;
//         text-transform: none;
//     }
// }

.shadowLoader{
    width: 100%;
    height: 100%;
    background-color: rgba(83, 78, 78, 0.5);
    position: absolute;
    top:0
}
.boxLoader{
    position: absolute;
    width: 180px;
    height: 180px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    background-color: #F2F2F2;
    padding-top: 30px;
}
.loader {
    text-align: center;
    border: 8px solid white; /* Light grey */
    border-top: 8px solid #27C1B6; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}