<!-- <ion-header>
  <h1 class="title">New Contact</h1>
</ion-header> -->

<app-superheader [title]="'New Contact'" [back]="false"></app-superheader>

<ion-content>
  <div class="container">
    <h1 class="key">Address</h1>
    <p class="value">{{contact.dataReceived}}</p>
  </div>

  <div class="btn-cont">
    <button class="btn-o" [routerLink]="['/tabs/contact/']">Reject</button>
    <button class="btn" (click)="addContact()">Add Contact</button>
  </div>

  <!-- <div class="shadowContact">
    <div class="boxContact">
      <p>Address</p>
      <div class="address">{{contact.dataReceived}}</div>
      <div id="button2">
      </div>

      <div id="button1">
      </div>
    </div>
  </div> -->

</ion-content>
