.title {
    margin: 0;
    padding: 30px 16px 10px 16px;
    color: #1652BA;
    font-weight: 800;
    width: 100%;
    letter-spacing: 0px !important;
}

.container {
    padding: 10px 16px;
}

.key {
    font-size: 10px;
    text-align: center;
}

.value {
    font-size: 19px;
    font-weight: bold;
}

.btn-cont {
    padding: 10px 16px;
    padding-top: 25%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.btn {
    background: #1652BA;
    color: white;
    border-radius: 20px;
    width: 120px;
    font-size: 17px;
    padding: 12px;
    margin: 0px 2px;
    outline: none
}

.btn-o {
    background: white;
    color: orange;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 2px orange;
    width: 120px;
    font-size: 17px;
    padding: 12px;
    margin: 0px 2px;
    outline: none
}

// :host {
//     background: url('../../assets/bg.png') no-repeat 0 0;
//     background-size: cover;
//     ion-header {
//         backdrop-filter: none;
//         ion-toolbar {
//             --color: #fff;
//             --border-width: 0;
//             --background: none;
//             --min-height: 7vh;
//         }
//     }
//     ion-content {
//     --color: #fff;
//     --background: #F2F2F2;
//     }
// }

// ion-title{
//     text-align: center;
// }
// .shadowContact{
//     background-color: rgba(83, 78, 78, 0.5);
//     width: 100%;
//     height: 100%;
//     position: relative;
//     .boxContact{
//         border-radius: 5px;
//         background: white;
//         position: absolute;
//         top:0;
//         right:0;
//         bottom: 0;
//         left:0;
//         margin:auto;
//         width: 95%;
//         height: 95%;
//         // box-shadow: 5px 5px 5px #EBEBEB, 5px -5px 5px #EBEBEB;
//         p{
//             font-size: 20px;
//             font-weight: 600;
//             color:black;
//             text-align: center;
//         }
//         .address{
//             color:black;
//             position: absolute;
//             top:0;
//             right:0;
//             bottom: 0;
//             left:0;
//             margin:auto;
//             height: fit-content;
//             text-align: center;
//         }
//     }
// }

// #button1{
//     position: absolute;
//     bottom: 10px;
//     right:10px;
//     display: inline-block;
//     // float: right;
//     margin-right: 10px;
//     padding-top: 10vh;
//     ion-button {
//         color:black;
//         font-family: Arial;
//         font-style: normal;
//         font-size: 16px;
//         --border-radius: 100px;
//         --border-width: 1px;
//         --padding-start: 10vw;
//         --padding-end: 10vw;
//         --padding-top: 1vh;
//         --padding-bottom: 1vh;
//         text-transform: none;
//     }
// }

// #button2{
//     position: absolute;
//     bottom: 10px;
//     left:10px;
//     display: inline-block;
//     margin-left: 10px;
//     padding-top: 10vh;
//     ion-button {
//         color:black;
//         font-family: Arial;
//         font-style: normal;
//         font-size: 16px;
//         --border-radius: 100px;
//         --border-width: 1px;
//         --padding-start: 10vw;
//         --padding-end: 10vw;
//         --padding-top: 1vh;
//         --padding-bottom: 1vh;
//         text-transform: none;
//     }
// }

// .ion-color-favorite {
//     --ion-color-base: var(--ion-color-favorite);
//     --ion-color-base-rgb: var(--ion-color-favorite-rgb);
//     --ion-color-contrast: var(--ion-color-favorite-contrast);
//     --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
//     --ion-color-shade: var(--ion-color-favorite-shade);
//     --ion-color-tint: var(--ion-color-favorite-tint);
// }

// .ion-color-new {
//     --ion-color-base: var(--ion-color-new);
//   --ion-color-base-rgb: var(--ion-color-new-rgb);
//   --ion-color-contrast: var(--ion-color-new-contrast);
//   --ion-color-contrast-rgb: var(--ion-color-new-contrast-rgb);
//   --ion-color-shade: var(--ion-color-new-shade);
//   --ion-color-tint: var(--ion-color-new-tint);
//   }