<app-superheader [title]="'Group'" [subtitle]="group['group']" [back]="true"></app-superheader>

<ion-content>
  <div class="container">
    <div class="element" *ngFor="let elem of group.list;let i=index" (click)="credentialDetail(i)">
      <div class="elem-cont">
        <div class="el-img">
          <img *ngIf="elem['content'].icon != ''" [src]="elem['content'].icon">
          <img *ngIf="elem['content'].icon == ''" src="../../assets/teamwork.svg">
        </div>

        <div class="el-info">
          <h5 class="name">{{ elem['content'].name }}</h5>
          <p class="desc">{{ elem['content'].description }}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>