<!-- <ion-header>
  <div class="row-cont">
    <div class="img-cont" [routerLink]="['/tabs/setting']">
      <img src="../../assets/newicons/proximax-siriusid-btn-go-back-blue-h60.svg" class="icon">
    </div>
    <h1 class="title">Settings</h1>
    <h1 class="sec-title">/ Notification</h1>
  </div>
</ion-header> -->

<app-superheader [title]="'Settings'" [subtitle]="'Notifications'" [back]="true">
</app-superheader>

<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="header-list">Account</div>

  <div class="item-list white" [routerLink]="['/tabs/setting/nortification']">
    <p class="text">Notification</p>
    <ion-toggle [(ngModel)]="notification" checked="notification" (ionChange)="update()" slot="end" color="favorite" mode="md">
    </ion-toggle>
  </div>

  <div class="item-list white" [routerLink]="['/tabs/setting/nortification']">
    <p class="text">Alert</p>
    <ion-toggle [(ngModel)]="alert" checked="alert" (ionChange)="update()" slot="end" color="favorite" mode="md">
    </ion-toggle>
  </div>
</ion-content>

