<ion-header>
 
    
</ion-header>

<ion-content>

  <div id="text4"><p>Sirius ID</p></div>
  <ion-card id="cover" [routerLink]="['/signup']">
    <div id="card">
        <img src="assets/fail.png"/>
    </div>

    <div id="text">
      <p>Your account is not created</p>
    </div>

    <div id="text1">
      <p>Something went wrong!</p>
    </div>    

    <div id="text3">
      <p>Try Again</p>
    </div>    
  </ion-card>
</ion-content>
