<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let type of type; let i = index">
      <ion-icon src="../../assets/sign.svg" slot="start" size="large" *ngIf="type==1"></ion-icon>
      <ion-icon src="../../assets/send.svg" slot="start" size="large" *ngIf="type==2"></ion-icon>
      
      <ion-label id="text" (click) = 'onSelect(i)' *ngIf="type==1">
        Sign in confirm
        <div id="text1">{{dateTime[i]}}</div>
      </ion-label>
      <ion-label id="text" (click) = 'onSelect(i)' *ngIf="type==2"> 
        <ion-grid>
          <ion-row align-items: flex-baseline>
            <ion-col>
              Send
              <div id="text1">{{dateTime[i]}}</div>               
            </ion-col>
            <ion-col>
              <div id="text2">{{mosaic[i]}} {{coinName[i]}}</div>              
            </ion-col>            
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- <button (click)="test()"></button> -->
</ion-content>



  <!-- <ion-item>   
    <ion-icon src="../../assets/send.svg" slot="start" size="large"></ion-icon>
    <ion-label id="text" [routerLink]="['/tabs/main/transactionDetail1']">     
      <ion-grid>
        <ion-row>
          <ion-col>
            Send
            <div id="text1">June 4, 2019</div>               
          </ion-col>
          <ion-col>
            <div id="text2">123.4 XPX</div>              
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon src="../../assets/send.svg" slot="start" size="large"></ion-icon>
    <ion-label id="text" [routerLink]="['/tabs/main/transactionDetail1']">     
      <ion-grid>
        <ion-row>
          <ion-col>
            Send
            <div id="text1">June 4, 2019</div>               
          </ion-col>
          <ion-col>
            <div id="text2">123.4 XPX</div>              
          </ion-col>            
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item> -->