:host {
    background: url('../../assets/bg.png') no-repeat 0 0;
    background-size: cover;
    ion-header {
    backdrop-filter: none;
    ion-toolbar {
        --color: #fff;
        --border-width: 0;
        --background: none;
        --min-height: 7vh;
    }
    }
    ion-content {
    --color: #fff;
    --background: #fff;
    }
}

ion-title{
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

ion-back-button{
    --color: #ffffff;
    position: absolute;
}

ion-col{
    --ion-grid-column-padding: 0px, 0px, 0px, 0px;
}
#text{
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
    color: #423D3D;
}

#text1{
    font-family: Arial;
    font-size: 11px;
    line-height: 14px;
    color: #7B7B7B;
}

#text2{
    text-align: right;
    color: #C2382A;
    font-size: 10px;
}