.title {
    margin: 0;
    padding: 30px 16px 10px 16px;
    color: #1652BA;
    font-weight: 800;
    width: 100%;
    letter-spacing: 0px !important;
}

.edit {
    background: transparent;
    margin: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    outline: none;
    z-index: 10000;
}

.icon {
    width: 60px;
    height: 60px;
}

// :host {
//     background: url('../../assets/bg.png') no-repeat 0 0;
//     background-size: cover;
//     ion-header {
//         backdrop-filter: none;
//         ion-toolbar {
//             --color: #fff;
//             --border-width: 0;
//             --background: none;
//             --min-height: 7vh;
//             ion-buttons{
//                 width: 34px;
//                 height: 34px;
//                 position: absolute;
//                 right: 5px;
//                 img {
//                     width: 100%;
//                 }
//             }
//         }
//     }
//     ion-content {
//     --color: #fff;
//     --background: #F2F2F2;
//     }
// }

// ion-title{
//     color: #ffffff;
//     text-align: center;
// }

.items{
    color:black;
    background-color: white;
    position: relative;
    padding: 10px 0px 10px 0px;
    .iconContact{
        display: inline-block;
        width: 20%;
        .iconLetter{
            text-align: center;
            border-radius: 50%;
            background-color: gray;
            width: 35px;
            height: 35px;
            line-height: 35px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 22px;
            right: 0;
            margin: auto 0;
        }
    }

    .nameContact{
        width: 80%;
        display: inline-block;
        position: relative;
        p{
            display: inline-block;
        }
        ion-icon{
            color: gray;
            font-size: 16px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 15px;
            margin: auto;
        }
    }
}