<!-- <ion-header>
  <h1 class="title">Contacts</h1>
</ion-header> -->

<app-superheader [title]="'Contacts'" [back]="false"></app-superheader>

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Contacts</ion-title>
    <ion-buttons slot="end" (click)="scanCode()">
      <img src="../../assets/scan.svg">
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <ion-fab-button class="edit" (click)="scanCode()">
    <img src="../../assets/newicons/proximax-siriusid-btn-add-blue.svg" alt="edit" class="icon">
  </ion-fab-button>

  <div class="items" *ngFor="let contact of contact.contactList;let i=index" (click)="contactDetail(i)">
    <div class="iconContact">
      <div class="iconLetter">
        {{contact.name[0].toUpperCase()}}
      </div>
    </div>
    <div class="nameContact">
      <p>{{contact.name}}</p><ion-icon name="arrow-forward" mode="ios"></ion-icon>
    </div>
  </div>
</ion-content>
