.swiper-slide {
  display: block;
}

img {
  margin-bottom: 4rem;
}

ion-button {
    margin-right: 4.3rem;
    margin-left: 4.3rem;
}

.swiper-pagination {
  margin-top: 30px !important;
}

.btn {
  margin-bottom: 25%;
  background: #1652BA !important;
  color: white;
  padding: 12px;
  border-radius: 20px;
  width: 180px;
  font-size: 17px;
  outline: none
}