.title {
    margin: 0;
    padding: 30px 16px 10px 16px;
    color: #1652BA;
    font-weight: 800;
    width: 100%;
    letter-spacing: 0px !important;
}

.header-list {
    background: white;
    padding: 20px 16px 10px;
    font-size: 14px;
    font-weight: bolder;
}

.item-list {
    padding: 10px 16px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.text {
    font-size: 14px;
    margin: 0px;
}

.icon {
    width: 12px;
}

.grey {
    background: #f4f4f4;
}

.white {
    background: white;
}
// ion-toolbar{
//     --background: url('../../assets/bgsetting.png');
//     --min-height: 5vh;
// }

// :host {
//     background: url('../../assets/bg.png') no-repeat 0 0;
//     background-size: cover;
//     ion-header {
//     backdrop-filter: none;
//     ion-toolbar {
//         --color: #fff;
//         --border-width: 0;
//         --background: none;
//         --min-height: 7vh;
//     }
//     }
//     ion-content {
//     --color: #fff;
//     --background: #F2F2F2;
//     }
// }

// ion-title{
//     color: #ffffff;
//     text-align: center;
// }
// img{
//     width: 100px;
//     height: 100px;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     --border-style: none;
// }

// p{
//     text-align: center;
//     font-weight: bold;
//     font-size: 16px;
// }

// #text{
//     font-family: Arial;
//     font-weight: normal;
//     font-size: 16px;
//     line-height: 24px;
//     text-transform: none;
//     color: #717171;
// }

// h5{
//     font-style: bold;
//     font-family: Arial;
//     padding-left: 2vw;
//     font-size: 14px;
//     line-height: 20px;
//     color: #272727;
// }

// #text2{
//     font-size: 12px;
//     color: #b6a7a7;
//     padding-bottom: 2vh;
//     line-height: 16px;
// }

// h4{
//     text-align: center;
//     font-family: Arial;
//     font-weight: 800;
//     font-size: 20px;
//     line-height: 32px;
// }

// ion-icon{
//     padding-right: 10px;
//     width: 20px;
//     height: 20px;
//     color: #40E398;
// }

// ion-list{
//     margin-bottom: 10px;
//     box-shadow: 0px 2px 2px #EBEBEB, 0px -2px 2px #EBEBEB;
//     ion-item{
//         border-bottom: 1px solid #EBEBEB;
//         --border-width: 0;
//     }
//     ion-item:last-child{
//         border-bottom: 0px;
//     }
// }