<!-- <ion-header>
  <h1 class="title">Settings</h1>
</ion-header> -->

<app-superheader [title]="'Settings'" [back]="false"></app-superheader>

<ion-content>
  <div class="header-list">General</div>

  <div class="item-list grey" (click)="version()">
    <p class="text">Version</p>
    <img class="icon" src="../../assets/newicons/proximax-siriusid-btn-next-blue-h44.svg" alt="">
  </div>

  <!-- <div class="item-list white" [routerLink]="['/tabs/setting/nortification']">
    <p class="text">Notification</p>
    <img class="icon" src="../../assets/newicons/proximax-siriusid-btn-next-blue-h44.svg" alt="">
  </div> -->

  <div class="header-list">Account</div>

  <div class="item-list grey" [routerLink]="['/tabs/setting/backup']">
    <p class="text">Account Backup</p>
    <img class="icon" src="../../assets/newicons/proximax-siriusid-btn-next-blue-h44.svg" alt="">
  </div>

  <div class="item-list white" [routerLink]="['/tabs/setting/sirius-did']">
    <p class="text">SiriusID</p>
    <img class="icon" src="../../assets/newicons/proximax-siriusid-btn-next-blue-h44.svg" alt="">
  </div>

  <!-- <div class="item-list grey">
    <p class="text">Support</p>
    <img class="icon" src="../../assets/newicons/proximax-siriusid-btn-next-blue-h44.svg" alt="">
  </div> -->

  <div class="header-list">Terms & Policy</div>

  <div class="item-list grey" [routerLink]="['/policy']">
    <p class="text">Policy</p>
    <img class="icon" src="../../assets/newicons/proximax-siriusid-btn-next-blue-h44.svg" alt="">
  </div>

  <div class="item-list white" [routerLink]="['/terms']">
    <p class="text">Terms</p>
    <img class="icon" src="../../assets/newicons/proximax-siriusid-btn-next-blue-h44.svg" alt="">
  </div>

  <div class="header-list">Others</div>

  <div class="item-list grey" [routerLink]="['/tabs/setting/node-setting']">
    <p class="text">Change Node</p>
    <img class="icon" src="../../assets/newicons/proximax-siriusid-btn-next-blue-h44.svg" alt="">
  </div>

  <!-- <div class="item-list" [routerLink]="['/home']">
    <p class="text">Sign Out</p>
    <img class="icon" src="../../assets/newicons/proximax-siriusid-btn-next-blue-h44.svg" alt="">
  </div> -->
</ion-content>