<ion-tabs #myTabs (ionTabsDidChange)="getSelectedTab()">

    <ion-tab-bar slot="bottom" color="ionbar" >
      <ion-tab-button tab="main" selected="true">
        <img *ngIf="!homeTab" src='assets/newicons/proximax-siriusid-navbar-credentials-enable-blue-h100.svg' class="icon"/>
        <img *ngIf="homeTab" src='assets/newicons/proximax-siriusid-navbar-credentials-disable-gray-h100.svg' class="icon"/>
      </ion-tab-button>

      <ion-tab-button tab="user">
        <img *ngIf="!userTab" src='assets/newicons/proximax-siriusid-navbar-profile-enable-blue-h100.svg' class="icon"/>
        <img *ngIf="userTab" src='assets/newicons/proximax-siriusid-navbar-profile-disable-gray-h100.svg' class="icon"/>
      </ion-tab-button>

      <ion-tab-button tab="contact">
        <img *ngIf="!contactTab" src='assets/newicons/proximax-siriusid-navbar-contacts-enable-blue-h100.svg' class="icon"/>
        <img *ngIf="contactTab" src='assets/newicons/proximax-siriusid-navbar-contacts-disable-gray-h100.svg' class="icon"/>
      </ion-tab-button>

      <ion-tab-button tab="notification" class="notiBtn">
        <div *ngIf="notificationService.numberNoti > 0" class="numberNoti">{{notificationService.numberNoti}}</div>
        <img *ngIf="!notificationTab" src='assets/newicons/proximax-siriusid-navbar-notifications-enable-blue-h100.svg' class="icon"/>
        <img *ngIf="notificationTab" src='assets/newicons/proximax-siriusid-navbar-notifications-disable-gray-h100.svg' class="icon"/>
      </ion-tab-button>

      <ion-tab-button tab="setting">
        <img *ngIf="!settingTab" src='assets/newicons/proximax-siriusid-navbar-settings-enable-blue-h100.svg' class="icon"/>
        <img *ngIf="settingTab" src='assets/newicons/proximax-siriusid-navbar-settings-disable-gray-h100.svg' class="icon"/>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
