.icon {
    width: 30px;
    height: 30px;
}

.ion-color-ionbar{
    --ion-color-base: white;
}

ion-tab-button{
    --color-selected: #1652BA !important;
}
.notiBtn{
    .numberNoti{
        border-radius: 50px;
        background-color: #b13e3e;
        position: absolute;
        right: 15px;
        top: 10px;
        width: 17px;
        height: 17px;
        color: white;
        line-height: 17px;
    }
}
