  <app-superheader [title]="'Credentials'" [back]="false"></app-superheader>

  <figure class="menu-cont" [ngClass]="(isIOS === true) ? 'adapt-top' : ''">
    <img src="../../assets/newicons/more-vert.svg" class="menu-icon" (click)="presentPopover($event)">
  </figure>

  <ion-content>
    <input [hidden]="true" id="fileInput" #fileInput multiple type="file"
      (change)="fileChange($event.target.files,$event)">
    <!-- <ng2-qrcode-reader (result)="render($event)" [qrr-show]="showQRCode" [qrr-value]="fileToUpload"
      [qrr-type]="elementType"></ng2-qrcode-reader> -->

    <div class="container">
      <div class="element" *ngFor="let elem of credentialsService.credentialSingle;let i=index" (click)="credentialDetail(i)">
        <div class="elem-cont">
          <div class="el-img">
            <img *ngIf="elem['content'].icon != ''" [src]="elem['content'].icon">
            <img *ngIf="elem['content'].icon == ''" src="../../assets/teamwork.svg">
          </div>

          <div class="el-info">
            <h5 class="name">{{ elem['content'].name }}</h5>
            <p class="desc">{{ elem['content'].description }}</p>
          </div>
        </div>
      </div>

      <!-- <div class="element" *ngFor="let elem of foldersService.folders;let i=index" (click)="elemRoute(elem, i)">
        <div class="elem-cont">
          <div class="el-img">
            <img *ngIf="elem.type === 'folder'" src="../../assets/newicons/folder.svg" width="46">
          </div>

          <div class="el-info">
            <h5 class="name">{{ elem.name }}</h5>
            <p class="desc">{{ elem.content.length }} Credentials</p>
          </div>
        </div>
      </div> -->

      <div class="element" *ngFor="let elem of credentialsService.credentialGroup;let i=index" (click)="credentialGroupDetail(i)">
        <div class="elem-cont">
          <div class="el-img">
            <img src="../../assets/newicons/folder.svg" width="46">
          </div>

          <div class="el-info">
            <h5 class="name">{{ elem.group }}</h5>
            <p class="desc" *ngIf="elem.list.length > 1">{{ elem.list.length }} Credentials</p>
            <p class="desc" *ngIf="elem.list.length == 1">{{ elem.list.length }} Credential</p>
          </div>
        </div>
      </div>

    </div>

    

    <ion-fab-button class="scanner" (click)="scanCode()">
      <img src="../../assets/newicons/proximax-siriusid-btn-scan-code-blue.svg" alt="scan" class="icon">
    </ion-fab-button>

    <!-- <ion-fab-button class="scanner" (click)="test()">
      <img src="../../assets/newicons/proximax-siriusid-btn-scan-code-blue.svg" alt="scan" class="icon">
    </ion-fab-button> -->
    <!-- <div *ngIf="loading" class="shadowLoader">
      <div class="boxLoader">
        <div class="loader"></div>
      </div>
    </div> -->

  </ion-content>