.logo-cont {
    padding: 40px 20px 20px 20px;
    text-align: center;
}

.logo {
    width: 200px;
}

.btn-cont {
    background: transparent;
    margin: 40px 0 0 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
}

.btn {
    background: #1652BA;
    color: white;
    border-radius: 20px;
    width: 120px;
    font-size: 17px;
    padding: 12px;
    margin: 0px 2px;
    outline: none
}

.require{
    text-align: center;
    .description{
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        p{
            width: 80%;
        }
    }
    .display{
        text-align: center;
        img{
            object-fit: cover;
            width: 100px;
            height: 100px;
        }
    }
    .btn-upload {
        background: #1652BA;
        color: white;
        border-radius: 20px;
        width: 90px;
        font-size: 14px;
        padding: 10px;
        margin: 0px 2px;
        outline: none
    }
}

.divider-cont {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.divider {
    width: 100%;
    height: 2px;
    background: #ddd;
}


.shadowLoader{
    width: 100%;
    height: 100%;
    background-color: rgba(83, 78, 78, 0.5);
    position: absolute;
    top:0
}
.boxLoader{
    position: absolute;
    width: 180px;
    height: 180px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    background-color: #F2F2F2;
    padding-top: 30px;
}
.loader {
    text-align: center;
    border: 8px solid white; /* Light grey */
    border-top: 8px solid #27C1B6; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}