<app-superheader [title]="'Addition'" [back]="false"></app-superheader>

<ion-content style="margin-bottom: 50px;">
  <div class="logo-cont">
    <img src='assets/newicons/proximax-siriusid-logo.svg' class="logo"/>
  </div>
  <div class="divider-cont">
    <div class="divider"></div>
  </div>

  <div class="require" *ngFor="let addition of additionRequires;let i = index">
    <div class="description">
      <p>{{addition.description}}</p>
    </div>
    <div class="display">
      <img *ngIf='image[i]' [src]='image[i].path'/>
    </div>
    <button class="btn-upload" *ngIf="addition.type==1" (click)="uploadImage(i)">Upload</button>
    <!-- <button class="btn-upload" (click)="updateImage(i)">Upload</button> -->

    <div class="divider-cont">
      <div class="divider"></div>
    </div>

  </div>

  <div class="btn-cont">
    <button class="btn" (click)="next()">Next</button>
  </div>

  <div *ngIf="loading" class="shadowLoader">
    <div class="boxLoader">
      <div class="loader"></div>
    </div>
  </div>
</ion-content>
