.title {
    margin: 0;
    padding: 0px 4px;
    color: #1652BA;
    font-weight: 800;
    letter-spacing: 0px !important;
}

.sec-title {
    margin: 0;
    padding: 0px 4px;
    color: grey;
    font-weight: 400;
    font-size: 16px;
}

.icon {
    width: 10px;
    height: 25px;
}

.row-cont {
    display: flex;
    padding: 36px 16px 10px;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.img-cont {
    padding: 3px 4px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 10px 16px;
}

.name {
    width: 100%;
    font-size: 26px;
    text-align: center;
}

.item {
    width: 100%;
}

.key {
    font-size: 12px;
    color: grey;
    text-align: center;
}

.value {
    font-size: 19px;
}

.btn-cont {
    margin: 0;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
}

.btn {
    background: white;
    color: #f1730f;
    box-shadow: inset 0px 0px 0px 2px #f1730f;
    border-radius: 20px;
    width: 180px;
    font-size: 17px;
    padding: 12px;
    margin: 0px 2px;
    outline: none
}