.title {
    margin: 0;
    padding: 30px 16px 10px 16px;
    color: #1652BA;
    font-weight: 800;
    width: 100%;
    letter-spacing: 0px !important;
}


:host {
    ion-header {
        backdrop-filter: none;
        ion-toolbar {
            --color: #fff;
            --border-width: 0;
            --background: none;
        }
    }
    ion-content {
        --color: #fff;
        --background: none;
    }
}

ion-back-button{
    --color: #ffffff;
}

ion-title{
    color: #ffffff;
    font-family: Arial;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

ion-col{
    background-color: #ffffff;
}

#image{
    text-align: center;
    padding-top: 10vh;
    img{
        width: 150px;
        height: 150px;
    }
}

#text{
    padding-top: 10vh;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
}

#button{
    width: 100%;
    text-align: center;
    padding-top: 15vh;
    ion-button {
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
        --color: #ffffff;
        --border-radius: 100px;
        --border-color: #ffffff;
        --border-style: ;
        --border-width: 10pt;
        --padding-start: 20vw;
        --padding-end: 20vw;
        --padding-top: 1vh;
        --padding-bottom: 1vh;
        --box-shadow:  1px 1px 2px 2px #ade6ee;
        text-transform: none;
    }
}

h6{
    text-align: center;
    color: #ffffff;
    font-family: arial;
    font-size: 12px;
}