.title {
    margin: 0;
    padding: 30px 16px 10px 16px;
    color: #1652BA;
    font-weight: 800;
    width: 100%;
    letter-spacing: 0px !important;
}

.img-cont {
    padding: 10px 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    max-width: 250px;
}

.container {
    padding: 10px 2.8rem;
}

.big-text {
    font-size: 26px;
    margin: 0px;
    text-align: center;
}

.small-text {
    font-size: 12px;
    padding-top: 10px;
    text-align: center;
}

.btn-cont {
    margin: 0;
    padding: 15px 15px 25px 15px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
}

.btn {
    background: #1652BA;
    color: white;
    border-radius: 20px;
    width: 120px;
    font-size: 17px;
    padding: 12px;
    margin: 0px 2px;
    outline: none
}