<!-- <ion-header>
  <h1 class="title">Get Started</h1>
</ion-header> -->
<app-superheader [title]="'Get Started'" [back]="false"></app-superheader>

<ion-content>
  <div class="img-cont">
    <img src="../../assets/newicons/proximax-siriusid-circle-percentage-success-green.svg" class="image">
  </div>

  <div class="container">
    <h1 class="big-text">Done!</h1>
    <p class="small-text">Your SiriusID was recovered.</p>
  </div>

  <div class="btn-cont">
    <button class="btn" [routerLink]="['/tabs']">Done</button>
  </div>
</ion-content>