<ion-header class="bg-blue">
  <h1 class="title">Terms & Condition</h1>
</ion-header>

<ion-content color="primary">
  <div>
    <h2 class="title">Parties to these Terms of Use</h2>
    <p class="paragraph">
      ProximaX provides a platform for self-sovereign digital identity management (“SiriusID”) through our website located at <a href="https://proximax.ltd">https://proximax.ltd</a> (the "Site") and a mobile application.  The mobile application includes text, images, audio, code and other materials or third-party applications accessible through the SiriusID application (collectively, with the Site, the “Content”). The Site, the mobile app, and any other features, tools, materials, or other services offered from time to time by ProximaX are referred to here as the “Service.” 
    </p>

    <div class="element">
      <p class="title">1. Acceptance of Terms</p>
      <p class="paragraph">
        Please read these Terms of Use (the “Terms”) carefully before using the Service. By using or otherwise accessing the Services, or clicking to accept these Terms, you (a) accept and agree to these Terms (b) consent to the collection, use, disclosure and other handling of information as described in our Privacy Policy and (c) agree to any additional terms, rules and conditions of participation issued by ProximaX from time to time. IF YOU DO NOT AGREE TO THE TERMS, AS AMENDED FROM TIME TO TIME AS SET FORTH BELOW, YOU MUST STOP USING THE SERVICE IMMEDIATELY. 
      </p>
    </div>

    <div class="element">
      <p class="title">2. Modification of Terms</p>
      <p class="paragraph">
        ProximaX reserves the right, at its sole discretion, to modify or replace the Terms at any time. The most current version of these Terms will be posted on our Site. You shall be responsible for reviewing and becoming familiar with any such modifications. Use of the Services by you after any modification to the Terms constitutes your acceptance of the Terms as modified.
      </p>
    </div>

    <div class="element">
      <p class="title">3. Eligibility</p>
      <p class="paragraph">
        You hereby represent and warrant that you are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations and warranties set forth in these Terms and to abide by and comply with these Terms. By accessing the Content or Services, you represent and warrant that you are of the legal age of majority in your jurisdiction or of the age required to access such Services and Content. You further represent that you are otherwise legally permitted to use the service in your jurisdiction including owning cryptographic tokens of value, and interacting with the Services or Content in any way. You further represent you are responsible for ensuring compliance with the laws of your jurisdiction and acknowledge that ProximaX is not liable for your compliance with such laws.
      </p>
    </div>

    <div class="element">
      <p class="title">4. Account Password, Security, and Decentralized Identity (DID)</p>
      
      <p class="label">Password/Seed</p>
      <p class="paragraph">
        When setting up an account within SiriusID, you will be responsible for keeping your own account secrets private. These secrets may include your designated recovery network, a seed phrase, or other security features.  You acknowledge your understanding that any person with knowledge of your seed phrase may generate your private keys.  You further acknowledge that ProximaX does not own your private keys or the seed phrase.  ProximaX has no ability to recover your private keys or your seed phrase should they become lost.
      </p>

      <p class="label">Security</p>
      <p class="paragraph">
        Your private key, corresponding to your identity address is stored in the keychain controlled by the “secure enclave” of your device.  By using the SiriusID app, you shall institute proper and sufficient password or biometric protection within your device.  You shall regularly update the operating system of your device with any software or security updates.  Notwithstanding the foregoing, you acknowledge that the SiriusID app, which exists outside of the “secure enclave,” when initiated by the User, uses the private key information stored in the keychain for relevant signing activities.  Your private key remains within the SiriusID app and SiriusID does not send the private key to servers.  You agree to (a) keep your secret information confidential and to not share it with anyone else; (b) not share your seed phrase with anyone and to store it in a secure manner; and (c) immediately notify ProximaX of any unauthorized use of your account or breach of security. ProximaX cannot and will not be liable for any loss or damage arising from your failure to comply with this section.
      </p>

      <p class="label">DID</p>
      <p class="paragraph">
        By using the SiriusID app, you acknowledge, accept and consent to the creation of a decentralized identity (DID) for you.  DID is essentially a public address, a string that serves as an “on-chain identifier.”  Because Sirius is an identity platform on the Sirius blockchain,  DIDs are linked to the Sirius blockchain as transactions.  As a user of SiriusID, you acknowledge that because transactions on the Sirius blockchain are immutable, the record of your DID’s on-chain transactions are also immutable and cannot be deleted from the Sirius blockchain.  Your DID, as it is designed in the SiriusID mobile application, is not tied to your natural name or personal information, and ProximaX does not collect data that would enable the two to be linked or associated together.
      </p>
    </div>

    <div class="element">
      <p class="title">5. Representations, Warranties, and Risks</p>

      <p class="subtitle">5.1. Warranty Disclaimer</p>
      <p class="paragraph">
        You expressly understand and agree that your use of the Service is at your sole risk. The Service (including the Service and the Content) is provided on an "AS IS" and "as available" basis, without warranties of any kind, either express or implied, including, without limitation, implied warranties of merchantability, fitness for a particular purpose or non-infringement. You acknowledge that ProximaX has no control over, and no duty to take any action regarding: which users gain access to or use the Service; what affects the Content may have on you; how you may interpret or use the Content; or what actions you may take as a result of having been exposed to the Content. You release ProximaX from all liability for you having acquired or not acquired Content through the Service. ProximaX makes no representations concerning any Content contained in or accessed through the Service, and ProximaX will not be responsible or liable for the accuracy, copyright compliance, legality or decency of material contained in or accessed through the Service.
      </p>

      <p class="subtitle">5.2. Sophistication and Risk of Cryptographic Systems</p>
      <p class="paragraph">
        By utilizing the Service or interacting with the Content in any way, you represent and warrant that you understand (a) the inherent risks associated with cryptographic systems, and (b) the usage and intricacies of public/private key cryptography, native cryptographic tokens.
      </p>

      <p class="subtitle">5.3. Risk of Weaknesses or Exploits in the Field of Cryptography</p>
      <p class="paragraph">
        You acknowledge and understand that Cryptography is a progressing field. Advances in code cracking or technical advances such as the development of quantum computers may present risks to cryptographic systems and Services or Content, which could result in the theft or loss of your cryptographic tokens or property. To the extent possible, ProximaX intends to update the code underlying the Services to account for any advances in cryptography and to incorporate additional security measures, but does not guarantee or otherwise represent full security of the system. By using the Service or accessing Content, you acknowledge these inherent risks.
      </p>

      <p class="subtitle">5.4. Platform Security</p>
      <p class="paragraph">
        You acknowledge that blockchain applications are code subject to flaws and acknowledge that you are solely responsible for evaluating any available code provided by the Services or Content and the trustworthiness of any third-party websites, products, smart-contracts, or Content you access or use through the Service. You further expressly acknowledge and represent that blockchain applications can be written maliciously or negligently, that ProximaX cannot be held liable for your interaction with such applications and that such applications may cause loss of property or identity. Malicious actors may potentially access information such as name, photo, description, and members of your recovery network, presenting both disclosure and potential security risks. These warnings and others later provided by ProximaX in no way evidence or represent an on-going duty to alert you to all of the potential risks of utilizing the Service or Content.
      </p>

      <p class="subtitle">5.5. Risk of Regulatory Actions in One or More Jurisdictions</p>
      <p class="paragraph">
        You acknowledge that as an emerging technology, Sirius blockchain could be impacted by one or more regulatory inquiries or regulatory actions, which could impede or limit the ability of ProximaX to continue to develop, or which could impede or limit your ability to access or use the Service or Sirius blockchain.
      </p>

      <p class="subtitle">5.6. Risk of Errors, Bugs, and Downtime</p>
      <p class="paragraph">
        You acknowledge and accept that the Services (a) may contain bugs, errors and defects, (b) may function improperly or be subject to periods of downtime and unavailability, (c) may result in total or partial loss or corruption of transaction data, and (d) may be modified at any time, including through the release of subsequent versions, in each case with or without notice.
      </p>

      <p class="subtitle">5.7 Total Loss of Data</p>
      <p class="paragraph">
        You acknowledge that ProximaX did not manufacture your device.  The security of the security enclave of your device is dependent on the manufacturer of the device.  If you have reason to believe the security of your device’s security enclave has been compromised, you agree to stop the use of SiriusID and to seek assistance directly with the device’s manufacturer.  You acknowledge the risk that if the security or integrity of your device’s security enclave is compromised, the security of your private key may be at risk.
      </p>
      <p class="paragraph">
        ProximaX does not own or operate the third-party servers used to store ID Data.  The security and safety of the data is dependent on the owner and operator of the third-party servers.  You acknowledge that in the event the security or integrity of the third-party servers are compromised, your ID Data may be completely or partially damaged and/or lost.
      </p>
    </div>

    <div class="element">
      <p class="title">6. Attestations on SiriusID and the SiriusID Signing Service</p>
      <p class="paragraph">
        The Services may, from time to time, allow for various attestations to be made about a user. Unless otherwise specified, these attestations are independently made by third parties. ProximaX makes no representation or warranty regarding the veracity or accuracy of these third-party attestations. Third-party attestations may be subject to the attesting party's terms and conditions.
      </p>
    </div>

    <div class="element">
      <p class="title">7. Indemnity</p>
      <p class="paragraph">
        You agree to release and to indemnify, defend and hold harmless ProximaX and its subsidiaries, affiliates and agencies, as well as the officers, directors, employees, shareholders and representatives of any of the foregoing entities, from and against any and all losses, liabilities, expenses, damages, costs (including attorneys’ fees and court costs) claims or actions of any kind whatsoever arising or resulting from your use of the Service, your violation of these Terms of Use, and any of your acts or omissions that implicate publicity rights, defamation or invasion of privacy. ProximaX reserves the right, at its own expense, to assume exclusive defense and control of any matter otherwise subject to indemnification by you and, in such case, you agree to cooperate with ProximaX in the defense of such matter.
      </p>
    </div>

    <div class="element">
      <p class="title">8. Limitation on Liability</p>
      <p class="paragraph">
        YOU ACKNOWLEDGE AND AGREE THAT YOU ASSUME FULL RESPONSIBILITY FOR YOUR USE OF THE SITE AND SERVICE. YOU ACKNOWLEDGE AND AGREE THAT ANY INFORMATION YOU SEND OR RECEIVE DURING YOUR USE OF THE SITE AND SERVICE MAY NOT BE SECURE AND MAY BE INTERCEPTED OR LATER ACQUIRED BY UNAUTHORIZED PARTIES. YOU ACKNOWLEDGE AND AGREE THAT YOUR USE OF THE SITE AND SERVICE IS AT YOUR OWN RISK. RECOGNIZING SUCH, YOU UNDERSTAND AND AGREE THAT, TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, NEITHER ProximX NOR ITS SUPPLIERS OR LICENSORS WILL BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, PUNITIVE, EXEMPLARY OR OTHER DAMAGES OF ANY KIND, INCLUDING WITHOUT LIMITATION DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER TANGIBLE OR INTANGIBLE LOSSES OR ANY OTHER DAMAGES BASED ON CONTRACT, TORT, STRICT LIABILITY OR ANY OTHER THEORY (EVEN IF ProximaX HAD BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM THE SITE OR SERVICE; THE USE OR THE INABILITY TO USE THE SITE OR SERVICE; UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SITE OR SERVICE; ANY ACTIONS WE TAKE OR FAIL TO TAKE AS A RESULT OF COMMUNICATIONS YOU SEND TO US; HUMAN ERRORS; TECHNICAL MALFUNCTIONS; FAILURES, INCLUDING PUBLIC UTILITY OR TELEPHONE OUTAGES; OMISSIONS, INTERRUPTIONS, LATENCY, DELETIONS OR DEFECTS OF ANY DEVICE OR NETWORK, PROVIDERS, OR SOFTWARE (INCLUDING, BUT NOT LIMITED TO, THOSE THAT DO NOT PERMIT PARTICIPATION IN THE SERVICE); ANY INJURY OR DAMAGE TO COMPUTER EQUIPMENT; INABILITY TO FULLY ACCESS THE SITE OR SERVICE OR ANY OTHER WEBSITE; THEFT, TAMPERING, DESTRUCTION, OR UNAUTHORIZED ACCESS TO, IMAGES OR OTHER CONTENT OF ANY KIND; DATA THAT IS PROCESSED LATE OR INCORRECTLY OR IS INCOMPLETE OR LOST; TYPOGRAPHICAL, PRINTING OR OTHER ERRORS, OR ANY COMBINATION THEREOF; OR ANY OTHER MATTER RELATING TO THE SITE OR SERVICE.
      </p>
    </div>

    <div class="element">
      <p class="title">9. Links or Third Party Applications</p>
      <p class="paragraph">
        The Service provides, or third parties may provide, links to other World Wide Web or accessible sites, applications or resources. Because ProximaX has no control over such sites, applications and resources, you acknowledge and agree that ProximaX is not responsible for the availability of such external sites, applications or resources, and does not endorse and is not responsible or liable for any content, advertising, products or other materials on or available from such sites or resources. You further acknowledge and agree that ProximaX shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such site or resource.
      </p>
    </div>

    <div class="element">
      <p class="title">10. Termination and Suspension</p>
      <p class="paragraph">
        ProximaX may, in its sole discretion, terminate or suspend all or part of the Service and your SiriusID access immediately, without prior notice or liability, if you breach any of the terms or conditions of the Terms. Upon termination of your access, your right to use the Service will immediately cease.
      </p>
      <p class="paragraph">
        The following provisions of the Terms survive any termination of these Terms: INDEMNITY; WARRANTY DISCLAIMERS; LIMITATION ON LIABILITY; OUR PROPRIETARY RIGHTS; LINKS; TERMINATION; NO THIRD-PARTY BENEFICIARIES; BINDING ARBITRATION AND CLASS ACTION WAIVER; GENERAL INFORMATION.
      </p>
    </div>

    <div class="element">
      <p class="title">11. No Third-Party Beneficiaries</p>
      <p class="paragraph">
        You agree that, except as otherwise expressly provided in these Terms, (a) there shall be no third-party beneficiaries to the Terms and (b) nothing in these Terms shall be construed as creating or implying any relationship of agency, franchise, partnership, or joint venture between you and ProximaX.
      </p>
    </div>

    <div class="element">
      <p class="title">12. Binding Arbitration and Class Action Waiver</p>
      <p class="paragraph">PLEASE READ THIS SECTION CAREFULLY – IT MAY SIGNIFICANTLY AFFECT YOUR LEGAL RIGHTS, INCLUDING YOUR RIGHT TO FILE A LAWSUIT IN COURT.</p>
      
      <p class="subtitle">12.1. Initial Dispute Resolution</p>
      <p class="paragraph">
        The parties shall use their best efforts to engage directly to settle any dispute, claim, question, or disagreement and engage in good faith negotiations which shall be a condition to either party initiating a lawsuit or arbitration.
      </p>

      <p class="subtitle">12.2. Binding Arbitration</p>
      <p class="paragraph">
        If the parties do not reach an agreed upon solution within a period of 30 days from the time informal dispute resolution under the Initial Dispute Resolution provision begins, then either party may initiate binding arbitration as the sole means to resolve claims, subject to the terms set forth below. Specifically, all claims arising out of or relating to these Terms (including their formation, performance and breach), the parties’ relationship with each other and/or your use of the Service shall be finally settled by binding arbitration administered by the <a href="http://www.siac.org.sg/our-rules/rules/siac-rules-2016">rules of the Singapore International Arbitration Centre (SIAC)</a>.
      </p>
      <p class="paragraph">
        The arbitrator, and not any federal, state or local court or agency, shall have exclusive authority to resolve all disputes arising out of or relating to the interpretation, applicability, enforceability or formation of these Terms, including, but not limited to any claim that all or any part of these Terms are void or voidable, or whether a claim is subject to arbitration. The arbitrator shall be empowered to grant whatever relief would be available in a court under law or in equity. The arbitrator’s award shall be written, and binding on the parties and may be entered as a judgment in any court of competent jurisdiction.
      </p>
      <p class="paragraph">
        The parties understand that, absent this mandatory provision, they would have the right to sue in court and have a jury trial. They further understand that, in some instances, the costs of arbitration could exceed the costs of litigation and the right to discovery may be more limited in arbitration than in court.
      </p>

      <p class="subtitle">12.3. Location</p>
      <p class="paragraph">
        Binding arbitration shall take place in Singapore. You agree to submit to the personal jurisdiction of the courts of Singapore, in order to compel arbitration, to stay proceedings pending arbitration, or to confirm, modify, vacate or enter judgment on the award entered by the arbitrator.
      </p>

      <p class="subtitle">12.4. Class Action Waiver</p>
      <p class="paragraph">
        The parties further agree that any arbitration shall be conducted in their individual capacities only and not as a class action or other representative action, and the parties expressly waive their right to file a class action or seek relief on a class basis. THE PARTIES AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING. 
      </p>
    </div>

    <div class="element">
      <p class="title">13. General Information</p>

      <p class="subtitle">13.1. Entire Agreement</p>
      <p class="paragraph">
        These Terms (and any additional terms, rules and conditions of participation that ProximaX may post on the Service) constitute the entire agreement between you and ProximaX with respect to the Service and supersedes any prior agreements, oral or written, between you and ProximaX. In the event of a conflict between these Terms and the additional terms, rules and conditions of participation, the latter will prevail over the Terms to the extent of the conflict.
      </p>

      <p class="subtitle">13.2. Waiver and Severability of Terms</p>
      <p class="paragraph">
        The failure of ProximaX to exercise or enforce any right or provision of the Terms shall not constitute a waiver of such right or provision. If any provision of the Terms is found by an arbitrator or court of competent jurisdiction to be invalid, the parties nevertheless agree that the arbitrator or court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of the Terms remain in full force and effect.
      </p>

      <p class="subtitle">13.3. Statute of Limitations</p>
      <p class="paragraph">
        You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to the use of the Service or the Terms must be filed within one (1) year after such claim or cause of action arose or be forever barred.
      </p>

      <p class="subtitle">13.4. Section Titles</p>
      <p class="paragraph">
        The section titles in the Terms are for convenience only and have no legal or contractual effect.
      </p>

      <p class="subtitle">13.5. Communications</p>
      <p class="paragraph">
        Users with questions, complaints or claims with respect to the Service may contact us at info@proximax.io.
      </p>
    </div>
  </div>


  <div class="btn-cont">
    <ion-button shape="round" class="btn" (click)="goback()">Back</ion-button>
  </div>
</ion-content>