<ion-header>
  <h1 class="title">Get Started</h1>
</ion-header>

<ion-content>
  <div class="img-cont">
    <img src="../../assets/newicons/proximax-siriusid-circle-percentage-success-green.svg" class="image">
  </div>

  <div class="container">
    <h1 class="big-text">Congrats!</h1>
    <p class="small-text">Your SiriusID has been created.</p>
  </div>

  <div class="btn-cont">
    <button class="btn" [routerLink]="['/tabs']">Done</button>
  </div>
</ion-content>