.title {
    margin: 0;
    padding: 0px 4px;
    color: #1652BA;
    font-weight: 800;
    letter-spacing: 0px !important;
}

.sec-title {
    margin: 0;
    padding: 0px 4px;
    color: grey;
    font-weight: 400;
    font-size: 16px;
}

.icon {
    width: 10px;
    height: 25px;
}

.row-cont {
    display: flex;
    padding: 36px 16px 10px;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
}

.sub-cont {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.img-cont {
    padding: 3px 4px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon-cred{
        width: 60px;
        height: 60px;
    }
}

.menu-cont {
    position: fixed;
    z-index: 20000;
    margin: 0px;
    padding: 30px 16px 10px;
    top: 0px;
    right: 0px;
}

.adapt-top {
    padding-top: 48px;
}

.menu-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.container {
    padding: 10px 16px;
}

.element {
    width: 100%;
    text-align: center;
    font-size: 26px;
}

.btn-cont {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 16px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.btn-cont-ios {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 16px;
    position: fixed;
    bottom: 40px;
    right: 0;
}

.btn-o {
    background: white;
    color: #f1730f;
    border-radius: 20px;
    box-shadow: inset 0px 0px 0px 2px #f1730f;
    width: 160px;
    font-size: 17px;
    padding: 12px;
    margin: 0px 2px;
    outline: none
}

.list-cont {
    padding-bottom: 50px;
}

.list {
    padding: 10px 16px;
    &:nth-child(even) {
        background: #f4f4f4;
    }
}

.key {
    font-size: 12px;
    color: grey;
}

.value {
    font-size: 19px;
}

.white {
    background: white;
}

.grey {
    background: grey;
}

.cont-center {
    padding: 10px 16px;
    text-align: center;
}