<!-- <ion-header>
  <div class="row-cont">
    <div class="sub-cont">
      <div class="img-cont" [routerLink]="['/tabs/main']">
        <img src="../../assets/newicons/proximax-siriusid-btn-go-back-blue-h60.svg" class="icon">
      </div>
      <h1 class="title">Credential</h1>
      <h1 class="sec-title">/ Detail</h1>
    </div>
    <img src="../../assets/newicons/more-vert.svg" class="menu-icon" (click)="presentPopover($event,credential['id'])">
  </div>
</ion-header> -->

<app-superheader [title]="'Credential'" [subtitle]="'Detail'" [back]="true">
</app-superheader>

<!-- <figure class="menu-cont" [ngClass]="(isIOS === true) ? 'adapt-top' : ''">
  <img src="../../assets/newicons/more-vert.svg" class="menu-icon" (click)="presentPopover($event,credential['id'])">
</figure> -->

<ion-content>
  <div class="container">
    <div class="img-cont">
      <img class="icon-cred" *ngIf="credential['icon'] !== ''" [src]="credential['icon']">
      <img class="icon-cred" *ngIf="credential['icon'] === ''" src="../../assets/teamwork.svg">
    </div>

    <div class="element">{{credential['name']}}</div>
  </div>

  <div class="cont-center">
    <ion-chip *ngFor="let elem of credential['tags']">
      {{ elem }}
    </ion-chip>
  </div>

  <div class="list-cont">
    <div class="list" *ngFor="let field of credential['content']">
      <div class="key">
        {{ field[0] }}
      </div>
      <div class="value">
        {{ (field[1] !== '') ? field[1] : 'Unknown' }}
      </div>
    </div>
  </div>

  <div id="btn-del">
    <button class="btn-o" (click)="presentAlertConfirm()">Delete</button>
  </div>
</ion-content>

<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Credential Details</ion-title>
    <ion-buttons slot="end" (click)="presentAlertConfirm()">
      <img src="../../assets/trash.svg">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <div id="text">{{credential['name']}}</div>
  </ion-list-header>
  <ion-list lines="full" inset="false">
      <ion-item mode="ios" *ngFor="let field of credential['content']">
        <div class="label">
          <p>{{field[0]}}</p>
        </div>
        <div>{{field[1]}}</div>
      </ion-item>
  </ion-list>
</ion-content> -->
