<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Transaction Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-icon src="../../assets/sign.svg" slot="start" size="large"></ion-icon>
    <ion-label id="text" [routerLink]="['/tabs/main/transactionDetail']">
      Sign in confirm
    </ion-label>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-label id="text1">
        Name of Service
        <div id="text2">Confirm login service</div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label id="text1">
        To
        <div id="text2">{{recepient}}</div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label id="text1">
        From 
        <div id="text2">{{signer}}</div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label id="text1">
        Time
        <div id="text2">{{dateTime}}</div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label id="text1">
        Message
        <div id="text2">There is no message.</div>
      </ion-label>
    </ion-item>
  </ion-list>

  <div id="button">
    <ion-button [routerLink]="['/tabs/main/history']" color="favorite">Back</ion-button>
  </div>

</ion-content>

