<!-- <ion-header>
  <h1 class="title">Recovery SiriusID</h1>
</ion-header> -->

<app-superheader [title]="'Recovery SiriusID'" [back]="false"></app-superheader>

<ion-content>
  <div class="img-cont">
    <img src="../../assets/newicons/proximax-siriusid-circle-percentage-error-orange.svg" class="image">
  </div>

  <div class="container">
    <h1 class="big-text">Oops, something</h1>
    <h1 class="big-text">went wrong!</h1>
    <p class="small-text">Your SiriusID was not recovered.</p>
  </div>

  <div class="btn-cont">
    <button class="btn" [routerLink]="['/recovery']">Try again</button>
  </div>
</ion-content>
