.title {
    margin: 0;
    padding: 30px 16px 10px 16px;
    color: #1652BA;
    font-weight: 800;
    width: 100%;
    letter-spacing: 0px !important;
}

.img-cont {
    padding: 10px 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    max-width: 250px;
}

.container {
    padding: 10px 2.8rem;
}

.big-text {
    font-size: 26px;
    margin: 0px;
    text-align: center;
}

.small-text {
    font-size: 12px;
    padding-top: 10px;
    text-align: center;
}

.btn-cont {
    margin: 0;
    padding: 15px 15px 25px 15px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
}

.btn {
    background: #1652BA;
    color: white;
    border-radius: 20px;
    width: 120px;
    font-size: 17px;
    padding: 12px;
    margin: 0px 2px;
    outline: none
}

// :host {
//     background: url('../../assets/bg.png') no-repeat 0 0;
//     background-size: cover;
//     ion-header {
//     backdrop-filter: none;
//     ion-toolbar {
//         // --color: #fff;
//         --border-width: 0;
//         --background: none;
//         --min-height: 23vh;
//     }
//     }
//     ion-content {
//     // --color: #fff;
//     --background: none;
//     }
// }

// ion-title{
//     padding-top: 10vh;
//     padding-bottom: 10vh;
//     text-align: center;
//     font-size: 35px;
//     font-weight: bold;
//     font-family: Arial;
//     color: #000000;

// }

// ion-card{
//     --background: #ffffff;

// }

// #card{
//     // text-align: center;
//     // padding-left: 30%;
//     // padding-bottom: 2vh;
//     margin-bottom: 50px;
//     img{
//         width: 150px;
//         height: 150px;
//         margin: auto;
//     }
// }

// #text{
//     text-align: center;
//     p{
//         margin: 0px;
//         color: #FC6437;
//         font-family: Arial;
//         font-weight: bold;
//         font-size: 16px;
//         font-style: normal;
//     }
// }

// #text1{
//     text-align: center;
//     p{
//         margin-top: 10px;
//         color: rgb(2, 2, 2);
//         font-family: Arial;
//         font-weight: bold;
//         font-size: 30px;
//         font-style: normal;
//     }
// }

// #text3{
//     text-align: center;
//     p{
//         margin-bottom: 0px;
//         color: #FC6437;
//         font-family: Arial;
//         font-weight: bold;
//         font-size: 20px;
//         text-decoration: underline;
//     }
// }

// ion-content{
//     padding-top: 5vh;
// }


// #text4{
//     padding-top: 10vh;
//     text-align: center;
//     p{
//         color: #ffffff;
//         font-family: Arial;
//         font-weight: bold;
//         font-size: 30px;
//         font-style: normal;
//     }
// }

// #cover{
//     padding: 30px;
//     margin: 50px;
//     cursor: pointer;
// }