.tip {
    text-align: center;
    color: #555;
    font-size: 12px;
}

.title {
    margin: 0;
    padding: 30px 16px 10px 16px;
    color: #1652BA;
    font-weight: 800;
    width: 100%;
    letter-spacing: 0px !important;
}

.container {
    padding: 10px 16px;
    padding-top: 25%;
}

.container2 {
    padding: 10px 16px;
}

ion-input {
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    padding: 5px;
    text-align: center;
    color: black;
}

.btn-cont {
    margin: 0;
    padding: 15px 15px 25px 15px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
}

.btn {
    background: #1652BA;
    color: white;
    border-radius: 20px;
    width: 180px;
    font-size: 17px;
    padding: 12px;
    margin: 0px 2px;
    outline: none
}

// :host {
//     background: url('../../assets/bg.png') no-repeat 0 0;
//     background-size: cover;
//     ion-header {
//     backdrop-filter: none;
//     ion-toolbar {
//         --color: #fff;
//         --border-width: 0;
//         --background: none;
//         --min-height: 23vh;
//     }
//     }
//     ion-content {
//     // --color: #fff;
//     --background: #fff;
//     }
// }

// ion-title{
//     text-align: center;
//     font-size: 35px;
//     font-weight: bold;
//     font-family: Arial;
// }

// #border{
//     border: 1px solid #38CB90;
//     border-radius: 5px;
//     width: 90vw;
//     height: 45px;
//     min-height: 45px;
//     margin-left: auto;
//     margin-right: auto;
// }

// #inputBox{
//     padding-top: 35px;
//     padding-bottom: 40px;
//     ion-input{
//         text-align: center;
//         --placeholder-color: #222F3E;
//         height: 45px;
//     }
//     p{
//         text-align: center;
//         font-size: 12px;
//         font-family: arial;
//         line-height: 16px;
//         color: #7B7B7B7B
//     }
// }

ion-checkbox{
    --border-color: #1652BA;
    --border-radius: 0;
    --size: 14px;
    background-color: #1652BA;
    box-shadow: inset 0px 0px 0px 2px white;
}


ion-item{
    p{
        font-family: Arial;
        padding-left: 6%;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: -0.5px;
        color: #272727;

    }

    .accept{
        z-index: 10;
        cursor: pointer;
        width: 100%;
        height: 100%;

        p{
            position: absolute;
        }
        ion-icon{
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}


#button{
    text-align: center;
    padding-top: 7vh;
    ion-button {
        font-weight: bold;
        font-family: Arial;
        font-style: normal;
        font-size: 16px;
        --border-radius: 100px;
        --border-width: 1px;
        --padding-start: 20vw;
        --padding-end: 20vw;
        --padding-top: 1vh;
        --padding-bottom: 1vh;
        text-transform: none;
    }
}


// .ion-color-gradient{
//     --ion-color-base: var(--ion-color-gradient);
//     --ion-color-base-rgb: var(--ion-color-gradient-rgb);
//     --ion-color-contrast: var(--ion-color-gradient-contrast);
//     --ion-color-contrast-rgb: var(--ion-color-gradient-contrast-rgb);
//     --ion-color-shade: var(--ion-color-gradient-shade);
//     --ion-color-tint: var(--ion-color-gradient-tint);
// }

// .ion-color-favorite{
//     --ion-color-base: var(--ion-color-favorite);
//     --ion-color-base-rgb: var(--ion-color-favorite-rgb);
//     --ion-color-contrast: var(--ion-color-favorite-contrast);
//     --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
//     --ion-color-shade: var(--ion-color-favorite-shade);
//     --ion-color-tint: var(--ion-color-favorite-tint);
// }

@media only screen and (max-width: 320px) {
    #button{
        padding-top:3vh
    }
    #input{
        #border{
            min-height: 7vh;
        }
    }
}