.title {
    margin: 0;
    padding: 30px 16px 10px 16px;
    color: #1652BA;
    font-weight: 800;
    width: 100%;
    letter-spacing: 0px !important;
}

.avatar-cont {
    padding: 20px 16px 10px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarImg{
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.profile-name {
    font-size: 30px;
    color: black;
    font-weight: 400;
    margin-bottom: 2px;
    text-align: center;
}

.profile-element {
    font-size: 15px;
    color: black;
    font-weight: 400;
    margin: 0px;
    text-align: center;
}

.divider {
    height: 1px;
    width: 80%;
    background: #ddd;
}

.divider-cont {
    display: flex;
    justify-content: center;
    padding: 10px
}

.container {
    padding: 2px 20%;
    width: 100%;
}

.btn {
    background: #1652BA !important;
    color: white;
    padding: 12px;
    border-radius: 20px;
    width: 100%;
    font-size: 17px;
    outline: none
}

.btn-w {
    background: white !important;
    color: #1652BA;
    box-shadow: inset 0px 0px 0px 2px;
    border-radius: 20px;
    width: 100%;
    font-size: 17px;
    outline: none
}

.edit {
    background: transparent;
    margin: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    outline: none;
    z-index: 10000;
}

.icon {
    width: 60px;
    height: 60px;
}