<!-- <ion-header>
  <h1 class="title">Profile</h1>
</ion-header> -->

<app-superheader [title]="'Profile'" [back]="false"></app-superheader>

<ion-content class="">
  <div class="avatar-cont">
    <img class="avatarImg" [src]='storedInfo.getAvatar()'/>
  </div>

  <div>
    <h4 class="profile-name">
      {{storedInfo.name}}
    </h4>
  </div>

  <div>
    <h4 class="profile-element">
      {{(storedInfo.country === null) ? 'Country' : storedInfo.country}}
    </h4>
  </div>

  <div class="divider-cont">
    <div class="divider"></div>
  </div>

  <div>
    <h4 class="profile-element">
      {{(storedInfo.email === null) ? 'E-Mail' : storedInfo.email}}
    </h4>
  </div>

  <div>
    <h4 class="profile-element">
      {{(storedInfo.phoneNumber === null) ? 'Phone Number' : storedInfo.phoneNumber}}
    </h4>
  </div>

  <div class="divider-cont">
    <div class="divider"></div>
  </div>

  <div class="container">
    <button class="btn" [routerLink]="['/tabs/user/qr']">My SiriusID</button>
    <!-- <ion-button shape="round" [routerLink]="['/tabs/user/qr']" class="btn">My SiriusID</ion-button> -->
  </div>

  <!-- <div class="container">
    <ion-button shape="round" class="btn-w" color="white">Share</ion-button>
  </div> -->

  <ion-fab-button class="edit" [routerLink]="['/tabs/user/user1']">
    <img src="../../assets/newicons/proximax-siriusid-btn-edit-blue.svg" alt="edit" class="icon">
  </ion-fab-button>
</ion-content>
<!-- <ion-header>
  <ion-toolbar>

    <ion-grid>
      <ion-row>
        <ion-col>
        </ion-col>

        <ion-col>
          <p style="color: red">profile</p>
        </ion-col>

        <ion-col [routerLink]="['/tabs/user/user1']" id="edit">
          <p style="color: red">Edit</p>
        </ion-col>

      </ion-row>
    </ion-grid>

    <img class="avatarImg" [src]='storedInfo.getAvatar()'/>
    <h4 style="color: red">{{storedInfo.name}}</h4>

  </ion-toolbar>
</ion-header> -->

<!-- <ion-content> -->



<!-- List of Text Items -->
<!-- <ion-list-header>
  <div id="text">Functions</div>
</ion-list-header>
<ion-list lines="full" inset="false">
  <ion-item [routerLink]="['/tabs/user/qr']" mode="ios">
    <ion-icon name="qr-scanner" slot="start" size="large"></ion-icon>
    <h5>My Address</h5>
  </ion-item>

  <ion-item mode="ios" (click)="sharing()">
    <ion-icon name="share" slot="start" size="large" mode="ios"></ion-icon>
    <h5>Share</h5>
  </ion-item>

</ion-list>

<ion-list-header>
  <div id="text">Personal</div>
</ion-list-header>
<ion-list lines="full" inset="false">
    <ion-item>
      <ion-label>
        <h5>
          <div id="text2">Name<br></div>
          {{storedInfo.name}}
        </h5>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h5>
          <div id="text2">Email<br></div>
          {{storedInfo.email}}
        </h5>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h5>
          <div id="text2">Country<br></div>
          {{storedInfo.country}}
        </h5>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h5>
          <div id="text2">Phone<br></div>
          {{storedInfo.phoneNumber}}
        </h5>
      </ion-label>
    </ion-item>



</ion-list> -->


<!-- </ion-content> -->
