<ion-header>
  <div class="row-cont" [ngClass]="(isIOS === true) ? 'adapt-top' : ''">
    <img *ngIf="back" src="../../assets/newicons/proximax-siriusid-btn-go-back-blue-h60.svg" class="icon" (click)="goBack()">
    <h1 class="title" (click)="goBack()">{{ title }}</h1>
    <h1 *ngIf="subtitle !== ''" class="sec-title">/ {{ subtitle }}</h1>
  </div>
</ion-header>