<div class="logo-cont">
  <img src="../../assets/newicons/proximax-siriusid-logo.svg" alt="" class="logo">
</div>

<ion-content style="margin-bottom: 50px;">
  <div class="img-cont">
    <img src="../../assets/newicons/proximax-siriusid-circle-percentage-error-orange.svg" class="image">
  </div>

  <div class="container">
    <h1 class="big-text">Oops, something</h1>
    <h1 class="big-text">went wrong!</h1>
    <p class="small-text">Need one more credential.</p>
  </div>

  <div class="btn-cont">
    <button class="btn" [routerLink]="['/tabs/main']">Try again</button>
  </div>
</ion-content>
