.title {
    margin: 0;
    padding: 30px 16px 10px 16px;
    color: #1652BA;
    font-weight: 800;
    width: 100%;
    letter-spacing: 0px !important;
}

.logo-cont {
    padding: 40px 20px 20px 20px;
    text-align: center;
}

.logo {
    width: 200px;
}

.img-cont {
    padding: 10px 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    max-width: 250px;
}

.container {
    padding: 10px 2.8rem;
}

.big-text {
    font-size: 26px;
    margin: 0px;
    text-align: center;
}

.small-text {
    font-size: 12px;
    padding-top: 10px;
    text-align: center;
}

.btn-cont {
    margin: 0;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.btn {
    background: #1652BA;
    color: white;
    border-radius: 20px;
    width: 120px;
    font-size: 17px;
    padding: 12px;
    margin: 0px 2px;
    outline: none
}

// :host {
//     background: url('../../assets/bgfail.png') no-repeat 0 0;
//     background-size: cover;
//     ion-header {
//         backdrop-filter: none;
//         ion-toolbar {
//             --color: #fff;
//             --border-width: 0;
//             --background: none;
//         }
//     }
//     ion-content {
//         --color: #fff;
//         --background: none;
//     }
// }

// ion-back-button{
//     --color: #ffffff;
// }

// ion-title{
//     color: #ffffff;
//     font-family: Arial;
//     text-align: center;
//     font-weight: 500;
//     font-size: 20px;
//     line-height: 23px;
// }

// ion-col{
//     background-color: #ffffff;
// }

// #image{
//     text-align: center;
//     padding-top: 10vh;
//     img{
//         width: 150px;
//         height: 150px;
//     }
// }

// #text{
//     margin: 20px 0 ;
//     text-align: center;
//     color: #ffffff;
//     font-size: 18px;
//     line-height: 20px;
// }

// #button{
//     width: 100%;
//     text-align: center;
//     padding-top: 5vh;
//     margin-bottom: 30px;
//     ion-button {
//         font-weight: bold;
//         font-style: normal;
//         font-size: 14px;
//         --color: #ffffff;
//         --border-radius: 100px;
//         --border-color: #ffffff;
//         --border-style: ;
//         --border-width: 10pt;
//         --padding-start: 20vw;
//         --padding-end: 20vw;
//         --padding-top: 1vh;
//         --padding-bottom: 1vh;
//         --box-shadow:  1px 1px 2px 2px #ade6ee;
//         text-transform: none;
//     }
// }

// h6{
//     text-align: center;
//     color: #ffffff;
//     font-family: arial;
//     font-size: 12px;
// }



// #border{
//     border: 0.5px solid white;
//     border-radius: 25px;
//     background: #ffffff;
//     width: 90vw;
//     height: fit-content;
//     margin-left: auto;
//     margin-right: auto;
//     padding: 5px 10px;
//     color:black;
//     #content{
//         font-size: 14px;
//         line-height: 17px;
//         font-family: Arial;
//         font-style: normal;
//         font-weight: normal;
//         text-align: center;
//         color: #000000;
//         margin-bottom:10px;
//         p{
//             font-size: 12px;
//             line-height: 14px;
//             color:#bbbbbb;
//             margin-top: 0;
//         }
//     }
// }


// .items{
//     background-color: white;
//     border-radius: 10px;
//     margin: 10px;
//     box-shadow: 0 0 7px #cccccc;
//     height: 60px;
//     .iconCredentials{
//         border-right: 2px solid #EBEBEB;
//         display: inline-block;
//         padding: 10px;
//         margin-right: 15px;
//         position: relative;
//         width: 60px;
//         height: 60px;
//         float: left;
//         img{
//             width: 40px;
//             position: absolute;
//             top: 0;
//             bottom: 0;
//             right: 0;
//             left: 0;
//             margin: auto;
//         }
//     }

//     .infoCredentials{
//         display: inline-block;
//         h5{
//             color: black;
//             margin: 10px 0px;
//         }
//         p{
//             font-size: 10px;
//             margin: 5px 0px;
//             font-weight: bold;
//             color:rgb(78, 74, 74);
//         }
//     }
// }

// .items-not-enough{
//     background-color: white;
//     border-radius: 10px;
//     margin: 10px;
//     box-shadow: 0 0 7px #C2382A;
//     height: 70px;
//     h5{
//         line-height: 70px;
//         color: black;
//         margin: 20px 0px;
//         padding-left: 20px;
//     }
// }

// .line{
//     border-top:1px solid #cccccc;
//     margin-bottom:20px;
// }

