.title {
    margin: 0;
    padding: 0px 4px;
    color: #1652BA;
    font-weight: 800;
    letter-spacing: 0px !important;
}

.sec-title {
    margin: 0;
    padding: 0px 4px;
    color: grey;
    font-weight: 400;
    font-size: 16px;
}

.icon {
    width: 10px;
    height: 25px;
}

.row-cont {
    display: flex;
    padding: 36px 16px 10px;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
}

.sub-cont {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.img-cont {
    padding: 3px 4px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.container {
  padding: 10px 16px
}

.field-cont {
  border: 1px solid grey;
  border-radius: 10px;
}

.elem-cont {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
}

.el-img {
    padding-right: 10px;
    width: 60px;
    height: 60px;
}

.name {
    font-size: 18px;
    margin: 0px;
    padding-bottom: 5px;
}

.desc {
    font-size: 10px;
    margin: 0px;
    padding-bottom: 5px;
}