<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>

    <ion-title>
      Confirm transaction
    </ion-title>
    
  </ion-toolbar>
</ion-header>
   
<ion-content>
  <div id="image">
      <img src='assets/sign.png'/>
  </div>

  <div id="text1">
    You are signing to:
  </div>

  <div id="border">
    <ion-grid >
      <ion-row align-items-center>
        <ion-col align-self-center >
          <div id="text">
            <b>Name of Service</b>
            <br>
            ProximaX Service
          </div>
        </ion-col> 
      </ion-row>
    </ion-grid>
  </div>

  <!-- <div id="loading">
    <div class="loader" *ngIf="loading"></div>
  </div> -->
   

  <div id="button">
    <ion-button [routerLink] = "['/confirm4']" color="light">Next</ion-button>
  </div>

</ion-content>
  