.title {
    margin: 0;
    padding: 0px 4px;
    color: #1652BA;
    font-weight: 800;
    letter-spacing: 0px !important;
}

.sec-title {
    margin: 0;
    padding: 0px 4px;
    color: grey;
    font-weight: 400;
    font-size: 16px;
}

.icon {
    width: 10px;
    height: 25px;
}

.row-cont {
    display: flex;
    padding: 36px 16px 10px;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.img-cont {
    padding: 3px 4px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 10px 16px;
}

.text {
    text-align: justify;
    margin: 0px;
    padding: 13px;
}

.area {
    border: 1px solid #1652BA !important;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    resize: none;
    width: 100%;
    height: 120px;
}

.btn-cont {
    padding: 10px 16px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.btn {
    background: #1652BA;
    color: white;
    border-radius: 20px;
    width: 200px;
    font-size: 17px;
    padding: 12px;
    margin: 0px 2px;
    outline: none;
}

.btn-w {
    background: white;
    color: #1652BA;
    border-radius: 20px;
    box-shadow: inset 0px 0px 0px 2px #1652BA;
    width: 200px;
    font-size: 17px;
    padding: 12px;
    margin: 0px 2px;
    outline: none;
}

label {
    width: 20px;
    height: 20px;
    border: 1px solid red;
}


label:checked {
    background: green;
}

#check {
    display: none;
}

ion-checkbox {
    --border: 2px solid #1652BA;
    --box-shadow: 0px 0px 0px 4px red;
    --border-radius: 0;
    --size: 14px;
}

// ion-toolbar{
//     --background: url('../../assets/bgsetting.png');
//     --min-height: 5vh;
// }

// :host {
//     background: url('../../assets/bg.png') no-repeat 0 0;
//     background-size: cover;
//     ion-header {
//     backdrop-filter: none;
//     ion-toolbar {
//         --color: #fff;
//         --border-width: 0;
//         --background: none;
//         --min-height: 7vh;
//     }
//     }
//     ion-content {
//     --color: #fff;
//     --background: #fff;
//     }
// }

// ion-back-button{
//     --color: #ffffff;
//     position: absolute;
// }
// ion-title{
//     color: #ffffff;
//     text-align: center;
// }

// p{
//     padding-top: 5vh;
//     font-family: Arial;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 12px;
//     line-height: 16px;
//     text-align: normal;
//     color: #000000;
//     padding-left: 5vw;
//     padding-right: 5vw;
// }

// #text{
//     padding-top: 1vh;
//     padding-bottom: 1vh;
//     font-family: Arial;
//     font-size: 14px;
//     line-height: 20px;
// }

// ion-checkbox{
//     --border-color: #38cb90;
//     --border-radius: 0;
//     --size: 14px;
// }

// ion-item{
//     padding-left: 1vw;
//     padding-right: 3vw;
// }

// #button{
//     height: 25vh;
//     text-align: center;
//     padding-top: 10vh;
//     padding-bottom: 0vh;

//     ion-button {
//         font-weight: bold;
//         font-style: normal;
//         font-size: 14px;
//         --color: #ffffff;
//         --border-radius: 100px;
//         --border-color: #fff;
//         --border-width: 1px;
//         --padding-start: 17vw;
//         --padding-end: 17vw;
//         --padding-top: 1vh;
//         --padding-bottom: 1vh;
//         text-transform: none;
//     }
// }

// .ion-color-favorite {
//     --ion-color-base: var(--ion-color-favorite);
//     --ion-color-base-rgb: var(--ion-color-favorite-rgb);
//     --ion-color-contrast: var(--ion-color-favorite-contrast);
//     --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
//     --ion-color-shade: var(--ion-color-favorite-shade);
//     --ion-color-tint: var(--ion-color-favorite-tint);
// }

// #passPhrase{
//     margin: 40px 20px;
//     color:black;
//     #border{
//         border: 1px solid #80808045;
//         border-radius: 10px;
//         padding: 10px;
//     }
// }
