:host {
    background: url('../../assets/bg.png') no-repeat 0 0;
    background-size: cover;
    ion-header {
        backdrop-filter: none;
        ion-toolbar {
            --color: #fff;
            --border-width: 0;
            --background: none;
        }
    }
    ion-content {
        --color: #fff;
        --background: none;
    }
}

#logo {    
    padding-top: 32vh;
    text-align: center;
    img {
        height: 70px;
    }    
}

p {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 28px;
    color: #ffffff;
    text-align: center;
}

.ion-padding-top {
    padding: 3px !important;
}

ion-button {
    margin-right: 2rem;
    margin-left: 2rem;
}

.text-btn{
    font-weight: 700;
    font-size: 16px;
}

.mt-50rem{
    margin-top: 10rem;
}