<ion-header>
  <h1 class="title">Processing</h1>
</ion-header>

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Processing</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="progress">
    <circle-progress
      [percent]="percent"
      [radius]="100"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="0"
      [outerStrokeColor]="'#ffffff'"
      [innerStrokeColor]="'#1652BA'"
      [animation] ="false"
      [animationDuration]="0"
      renderOnClick = "false"
      titleColor = "#ffffff"
      unitsColor = "#ffffff"
      subtitleColor = "#ffffff"
      backgroundStroke = "#1652BA"
      backgroundStrokeWidth = "5"
      backgroundPadding = "-3"
      maxPercent = "100"
      [lazy] = "false"
    ></circle-progress>
  </div>
  <div class="text">
    <h2>Please Wait</h2>
    <h6>We are working on the task</h6>
  </div>

</ion-content>
