.title {
    margin: 0;
    padding: 30px 16px 10px 16px;
    color: #1652BA;
    font-weight: 800;
    width: 100%;
    letter-spacing: 0px !important;
}

:host {
    ion-header {
        backdrop-filter: none;
        ion-toolbar {
            --color: #000;
            --border-width: 0;
            --background: none;
        }
    }
    ion-content {
        --color: #000;
        --background: none;
    }
}

ion-title{
    color: #000000;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    padding-top: 1vh;
}

.progress{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.text{
    text-align: center;
    color: #000000;
}
