<ion-header class="bg-blue">
  <h1 class="title">Privacy Policy</h1>
</ion-header>

<ion-content color="primary">
  <div>
    <p class="paragraph">
      ProximaX provides a platform for self-sovereign digital identity management (“SiriusID”) through our website located at <a href="https://proximax.ltd">https://proximax.ltd</a> (the "Site") and a mobile application.  The mobile application includes text, images, audio, code and other materials or third-party applications accessible through the SiriusID application (collectively, with the Site, the “Content”). The Site, the mobile app, and any other features, tools, materials, or other services offered from time to time by ProximaX are referred to here as the “Service.” 
    </p>
    <p class="paragraph">
      By using the Services, you accept the terms of this Policy and our Terms of Use, and consent to our collection, use, disclosure, and retention of your information as described in this Policy.  If you have not done so already, please also review our terms of use. The terms of use contain provisions that limit our liability to you and require you to resolve any dispute with us on an individual basis and not as part of any class or representative action. IF YOU DO NOT AGREE WITH ANY PART OF THIS PRIVACY POLICY OR OUR TERMS OF USE, THEN PLEASE DO NOT USE ANY OF THE SERVICES.
    </p>
    <p class="paragraph">
      Please note that this Policy does not apply to information collected through third-party websites or services that you may access through the Services or that you submit to us through email, text message or other electronic message or offline.
    </p>
    <p class="paragraph">
      If you are visiting this site from the European Union (EU), see our Notice to EU Data Subjects for our legal bases for processing and transfer of your data. 
    </p>
  </div>

  <div class="element">
    <h2 class="title">WHAT WE COLLECT</h2>
    <p class="paragraph">
      We get information about you in a range of ways.
    </p>
    <p class="paragraph">
      <b>Information You Give Us.</b> Information we collect from you includes:
    </p>
      
    <ul>
      <li>Public address (decentralized identifier).</li>
      <li>Private key signature associated with your DID (as defined in the Terms of Use) for transactions you engage in with the Services.</li>
      <li>Identity information, such as your first name, last name, username or similar identifier, title, date of birth and nationality.</li>
      <li>Feedback and correspondence, such as information you provide in your responses to surveys, when you participate in market research activities, report a problem with Service, receive customer support or otherwise correspond with us.</li>
      <li>Transaction information, such as metadata with respect to on-chain transaction history,  details about purchases you make through the Service and billing details.</li>
      <li>Anonymized usage information, such as information about how you use the Service and interact with us.</li>
      <li>Marketing information, such as your preferences for receiving marketing communications and details about how you engage with them.</li>
    </ul> 

    <p class="paragraph">
      <b>Information We Get From Others.</b> We may get information about you from other third party sources and we may add this to information we get from your use of the Services.
    </p>

    <p class="paragraph">
      <b>Information Automatically Collected.</b> We may automatically record certain information about how you use our Site (we refer to this information as “Log Data“). Log Data may include information such as a user’s Internet Protocol (IP) address, hash of IPFS address, device and browser type, the pages or features of our Site to which a user browsed and the time spent on those pages or features, the frequency with which the Site is used by a user, search terms, the links on our Site that a user clicked on or used, referral url, and other statistics. We use this information to administer the Service and we analyze (and may engage third parties to analyze) this information to improve and enhance the Service by expanding its features and functionality and tailoring it to our users’ needs and preferences.
    </p>

    <p class="paragraph">
      We may use cookies or similar technologies to analyze trends, administer the website, track users’ movements around the website, and to gather demographic information about our user base as a whole. Users can control the use of cookies at the individual browser level. For more information, please see the section entitled “Cookies Policy” below.
    </p>

    <p class="paragraph">
      <b>Information we will never collect.</b> We will never ask you to share your private keys or wallet seed. Never trust anyone or any site that asks you to enter your private keys or wallet seed.
    </p>
  </div>

  <div class="element">
    <h2 class="title">USE OF PERSONAL INFORMATION</h2>
    <div class="paragraph">
      <p class="label">To provide our service</p>
      ‍We will use your personal information in the following ways:

      <ul>
        <li>To enable you to access and use the Services.</li>
        <li>To provide and deliver products and services that you may request.</li>
        <li>To send information, including confirmations, technical notices, updates, security alerts, and support and administrative messages.</li>
      </ul>

      <p class="label">To comply with law</p>
      ‍We use your personal information as we believe necessary or appropriate to comply with applicable laws, lawful requests and legal process, such as to respond to subpoenas or requests from government authorities.  

      <p class="label">To communicate with you</p>
      We use your personal information to communicate about promotions, upcoming events, and other news about products and services offered by us and our selected partners.
      
      <p class="label">To optimize our platform</p>
      In order to optimize your user experience, we may use your personal information to operate, maintain, and improve our Services. We may also use your information to respond to your comments and questions regarding the Services, and to provide you and other users with general customer service. 

      <p class="label">With your consent</p>
      We may use or share your personal information with your consent, such as when you instruct us to take a specific action with respect to your personal information, or you opt into third party marketing communications.

      <p class="label">For compliance, fraud prevention, and safety</p>
      We may use your personal information to protect, investigate, and deter against fraudulent, unauthorized, or illegal activity.
    </div>
  </div>

  <div class="element">
    <h2 class="title">SHARING OF PERSONAL INFORMATION</h2>
    <p class="paragraph">
      <p class="paragraph">
        We do not share or sell the personal information that you provide us with other organizations without your express consent, except as described in this Privacy Policy. We disclose personal information to third parties under the following circumstances: 
      </p>

      <p class="paragraph">
        <b>Affiliates.</b> We may disclose your personal information to our subsidiaries and corporate affiliates for purposes consistent with this Privacy Policy.
      </p>

      <p class="paragraph">
        <b>Business Transfers.</b> We may share personal information when we do a business deal, or negotiate a business deal, involving the sale or transfer of all or a part of our business or assets. These deals can include any merger, financing, acquisition, or bankruptcy transaction or proceeding.
      </p>
      
      <p class="paragraph">
        <b>Compliance with Laws and Law Enforcement; Protection and Safety.</b> We may share personal information for legal, protection, and safety purposes.
      </p>

      <ul>
        <li>We may share information to comply with laws.</li>
        <li>We may share information to respond to lawful requests and legal processes.</li>
        <li>We may share information to protect the rights and property of the Company, our agents, customers, and others. This includes enforcing our agreements, policies, and terms of use.</li>
        <li>We may share information in an emergency. This includes protecting the safety of our employees and agents, our customers, or any person.</li>
      </ul>

      <p class="paragraph">
        <b>Professional Advisors and Service Providers.</b> We may share information with those who need it to do work for us. These recipients may include third party companies and individuals to administer and provide the Service on our behalf (such as customer support, hosting, email delivery and database management services), as well as lawyers, bankers, auditors, and insurers.
      </p>

      <p class="paragraph">
        If you are visiting this site from the European Union (EU), see our Notice to EU Data Subjects for our legal bases for processing and transfer of your data. 
      </p>

  </div>

  <div class="element">
    <h2 class="title">INTERNATIONAL TRANSFER</h2>
    <p class="paragraph">
      The Company has offices outside of the EU and has affiliates and service providers in other countries. Your personal information may be transferred to or from other locations outside of your state, province, country or other governmental jurisdiction where privacy laws may not be as protective as those in your jurisdiction.
    </p>
    <p class="paragraph">
      EU users should read the important information provided below about transfer of personal information outside of the European Economic Area (EEA).
    </p>

  </div>

  <div class="element">
    <h2 class="title">HOW INFORMATION IS SECURED </h2>
    <p class="paragraph">
      We retain information we collect as long as it is necessary and relevant to fulfill the purposes outlined in this privacy policy. In addition, we retain personal information to comply with applicable law where required, prevent fraud, resolve disputes, troubleshoot problems, assist with any investigation, enforce our Terms of Use, and other actions permitted by law. To determine the appropriate retention period for personal information, we consider the amount, nature, and sensitivity of the personal information, the potential risk of harm from unauthorized use or disclosure of your personal information, the purposes for which we process your personal information and whether we can achieve those purposes through other means, and the applicable legal requirements.
    </p>
    <p class="paragraph">
      In some circumstances we may anonymize your personal information (so that it can no longer be associated with you) in which case we may use this information indefinitely without further notice to you.
    </p>
    <p class="paragraph">
      We employ industry standard security measures designed to protect the security of all information submitted through the Services. However, the security of information transmitted through the internet can never be guaranteed. We are not responsible for any interception or interruption of any communications through the internet or for changes to or losses of data. Users of the Services are responsible for maintaining the security of any password, biometrics, user ID or other form of authentication involved in obtaining access to password protected or secure areas of any of our digital services. In order to protect you and your data, we may suspend your use of any of the Services, without notice, pending an investigation, if any breach of security is suspected.
    </p>
  </div>

  <div class="element">
    <h2 class="title">INFORMATION CHOICES AND CHANGES</h2>
    <div class="paragraph">
      <p>
        <b>Accessing, Updating, Correcting, and Deleting your Information.</b> You may access information that you have voluntarily provided through your account on the Services, and to review, correct, or delete it by sending a request to info@proximax.io. You can request to change contact choices, opt-out of our sharing with others, and update your personal information and preferences.
      </p>
      
      <p>
        <b>Tracking Technologies Generally.</b> Regular cookies may generally be disabled or removed by tools available as part of most commercial browsers, and in some instances blocked in the future by selecting certain settings. For more information, please see the section entitled “Cookies Policy” below. 
      </p>
      
      <p>
        <b>Google Analytics.</b> You may exercise choices regarding the use of cookies from Google Analytics by going to https://tools.google.com/dlpage/gaoptout and downloading the Google Analytics Opt-out Browser Add-on.
      </p>  
    </div>
  </div>

  <div class="element">
    <h2 class="title">CONTACT INFORMATION</h2>
    <div class="paragraph">
      <b>We welcome your comments or questions about this Policy, and you may contact us at: </b><a href="mailto:info@proximax.io">info@proximax.io.</a>
    </div>
  </div>

  <div class="element">
    <h2 class="title">CHANGES TO THIS PRIVACY POLICY</h2>
    <p class="paragraph">
      We may change this privacy policy at any time. We encourage you to periodically review this page for the latest information on our privacy practices. If we make any changes, we will change the Last Updated date above.
    </p>
    <p class="paragraph">
      Any modifications to this Privacy Policy will be effective upon our posting of the new terms and/or upon implementation of the changes to the Site (or as otherwise indicated at the time of posting). In all cases, your continued use of the Site or Services after the posting of any modified Privacy Policy indicates your acceptance of the terms of the modified Privacy Policy.
    </p>

  </div>

  <div class="element">
    <h2 class="title">USE FOR NEW PURPOSES </h2>
    <div class="paragraph">
      We may use your personal information for reasons not described in this Privacy Policy, where we are permitted by law to do so and where the reason is compatible with the purpose for which we collected it. If we need to use your personal information for an unrelated purpose, we will notify you and explain the applicable legal basis for that use. If we have relied upon your consent for a particular use of your personal information, we will seek your consent for any unrelated purpose.
      
      <p class="label">Your Rights</p>
      Under the GDPR, you have certain rights regarding your personal information. You may ask us to take the following actions in relation to your personal information that we hold:
      <ul>
        <li><b>Opt-out.</b> Stop sending you direct marketing communications which you have previously consented to receive. We may continue to send you Service-related and other non-marketing communications.</li>
        <li><b>Access.</b> Provide you with information about our processing of your personal information and give you access to your personal information.</li>
        <li><b>Correct.</b> Update or correct inaccuracies in your personal information.</li>
        <li><b>Transfer.</b> Transfer a machine-readable copy of your personal information to you or a third party of your choice.</li>
        <li><b>Restrict.</b> Restrict the processing of your personal information.</li>
        <li><b>Object.</b> Object to our reliance on our legitimate interests as the basis of our processing of your personal information that impacts your rights.</li>
      </ul>
      <p>
        You can submit these requests by email to info@proximax.io. We may request specific information from you to help us confirm your identity and process your request. Applicable law may require or permit us to decline your request. If we decline your request, we will tell you why, subject to legal restrictions. If you would like to submit a complaint about our use of your personal information or response to your requests regarding your personal information, you may contact us at <a href="mailto:info@proximax.io">info@proximax.io.</a>
      </p>
      </div>

  </div>

  <div class="element">
    <h2 class="title">COOKIES POLICY</h2>
    <div class="paragraph">
      We understand that your privacy is important to you and are committed to being transparent about the technologies we use. In the spirit of transparency, this policy provides detailed information about how and when we use cookies on our Site.

      <p class="label">Do we use Cookies?</p>
      
      Yes. We and our marketing partners, affiliates, and analytics or service providers use cookies, web beacons, or pixels and other technologies to ensure everyone who uses the Site has the best possible experience.

      <p class="label">What is a Cookie?</p>
      <p>
        A cookie (“Cookie”) is a small text file that is placed on your hard drive by a web page server. Cookies contain information that can later be read by a web server in the domain that issued the cookie to you. Some of the cookies will only be used if you use certain features or select certain preferences, and some cookies will always be used. 
      </p>
      <p>
        Web beacons, tags and scripts may be used in the Site or in emails to help us to deliver cookies, count visits, understand usage and campaign effectiveness and determine whether an email has been opened and acted upon. We may receive reports based on the use of these technologies by our service/analytics providers on an individual and aggregated basis.
        Some Cookies are necessary for certain uses of the Site, and without such Cookies, we would not be able to provide many services that you need to properly use the Site. These Cookies, for example, allow us to operate our Site so you may access it as you have requested and let us recognize that you have created an account and have logged into that account to access Site content. They also include Cookies that enable us to remember your previous actions within the same browsing session and secure our Sites.
      </p>
      <p>
        We also use functional Cookies and Cookies from third parties for analysis and marketing purposes. Functional Cookies enable certain parts of the site to work properly and your user preferences to remain known. Analysis Cookies, among other things, collect information on how visitors use our Site, the content and products that users view most frequently, and the effectiveness of our third party advertising. Advertising Cookies assist in delivering ads to relevant audiences and having our ads appear at the top of search results. Cookies are either “session” Cookies which are deleted when you end your browser session, or “persistent,” which remain until their deletion by you (discussed below) or the party who served the cookie. Full details on all of the Cookies used on the Site are available at our Cookie Disclosure table below.
      </p>
      <p class="label">How to disable Cookies. </p>
      <p>
        You can generally activate or later deactivate the use of cookies through a functionality built into your web browser. To learn more about how to control cookie settings through your browser:
      </p>
      <div>
        Click <a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">here</a> to learn more about the “Private Browsing” setting and managing cookie settings in Firefox.
      </div>
      <div>
        Click <a href="https://support.google.com/chrome/answer/95647?hl=en">here</a> to learn more about “Incognito” and managing cookie settings in Chrome.
      </div>
      <div>
        Click <a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies">here</a> to learn more about “InPrivate” and managing cookie settings in Internet Explorer.
      </div>
      <div>
        Click <a href="https://support.apple.com/en-sg/guide/iphone/iphb01fc3c85/ios">here</a> to learn more about “Private Browsing” and managing cookie settings in Safari.
      </div>
      <div>
        If you want to learn more about cookies, or how to control, disable or delete them, please visit <a href="http://www.aboutcookies.org">http://www.aboutcookies.org</a> for detailed guidance. In addition, certain third-party advertising networks, including Google, permit users to opt out of or customize preferences associated with your internet browsing. To learn more about this feature from Google, click <a href="https://adssettings.google.com/u/0/authenticated?hl=en">here</a>.
      </div>
      <div>
        To control flash cookies, which we may use on our Site from time to time, you can go to this <a href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html">link</a> because Flash cookies cannot be controlled through your browser settings. Please note that if you decline the use of Cookies, some functions of the website may be unavailable and we will not be able to present personally tailored content and advertisements to you. 
      </div>
      <div>
        We may link the information collected by Cookies with other information we collect from you pursuant to this Privacy Policy and use the combined information as set forth herein.  Similarly, the third parties who serve cookies on our Site may link your name or email address to other information they collect, which may include past purchases made offline or online, or your online usage information. If you are located in the European Economic Area, you have certain rights that are described above under the header “Notice to EU Data Subjects”, including the right to inspect and correct or delete the data that we have about you.
      </div>
    </div>

  </div> 

  <div class="btn-cont">
    <ion-button shape="round" class="btn" (click)="goback()">Back</ion-button>
  </div>
</ion-content>
