.bg-blue {
    background: #1652BA;
}

.title {
    margin: 0;
    padding: 30px 16px 10px 16px;
    color: white;
    font-weight: 800;
    width: 100%;
    letter-spacing: 0px !important;
}

.paragraph {
    color: white;
    text-align: left;
    margin: 0px;
    padding: 10px 15px;
}

.btn-cont {
    margin: 0;
    padding: 15px;
    width: 100%;
}

.btn {
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    width: 100%;
    outline: none
}

.label{
    margin: 0;
    padding: 15px 16px 10px 0px;
    color: white;
    font-weight: 800;
    width: 100%;
    letter-spacing: 0px !important;
}

a{
    color:white
}